<div
  class="chat-room-window"
  [ngClass]="{ 'chat-room-window--hidden': !(show$ | async), 'chat-room-window--mobile': isMobile }"
>
  <div class="chat-room-window__close" (click)="close()">
    <span class="material-icons">close</span>
  </div>
  <div class="chat-room-window__header" (click)="minimize()">
    <div *ngIf="isPrivateChat && room.memberProfile?.username" class="chat-room-window__user">
      <tf-user-avatar [user]="room.memberProfile" [size]="'sm'"></tf-user-avatar>
      <a
        class="text-bold"
        [routerLink]="room.memberProfile | entityLink"
        tfStopPropagationOnClick
        (click)="onClickMember()"
      >
        {{ room.memberProfile.username }}
      </a>
      <tf-counter [count]="room && room.getCurrentProfileUnreadCount()" size="md"></tf-counter>
    </div>
    <div
      *ngIf="isPrivateChat && room && !room.memberProfile?.username"
      class="chat-room-window__new-conversation"
    >
      <span class="text-bold">Nowa wiadomość</span>
    </div>
    <div *ngIf="isTeamChat" class="chat-room-window__user">
      <img class="chat-room-window__avatar" [src]="room.team.logoUrl | imageUrl" alt="" />
      <a
        class="text-bold"
        [routerLink]="room.team | entityLink"
        tfStopPropagationOnClick
        (click)="onClickMember()"
      >
        {{ 'Czat drużynowy - ' + room.team.name }}
      </a>
      <tf-counter [count]="room && room.unreadMessages" size="md"></tf-counter>
    </div>
  </div>
  <div #listEl class="chat-room-window__content">
    <ng-container *ngIf="messagesLoading">
      <div class="chat-room-window__loader">
        <tf-loader></tf-loader>
      </div>
    </ng-container>

    <ng-container *ngIf="!room.id && !room.memberProfile">
      <div class="chat-room-window__new-conversation-to">
        <span>Do: </span>
        <tf-user-select
          [excludedUsers]="excludedSuggestedUserIds$ | async"
          (changed)="onUserForNewConversationSelect($event)"
        ></tf-user-select>
      </div>
    </ng-container>

    <tf-chat-message
      *ngFor="let message of messages; trackBy: trackByFn"
      [message]="message"
      [sender]="messageSender(message)"
      [room]="room"
    ></tf-chat-message>
  </div>
  <div *ngIf="isTeamChat || room?.memberProfile" #formEl class="chat-room-window__form">
    <tf-send-message (submitted)="onSubmitMessage($event)" (focused)="onInputFocus()"></tf-send-message>
  </div>

  <ng-container *ngIf="canDisplayNewMessagesAlert">
    <div #alertEl class="chat-room-window__alert" (click)="goToNewMessages()">
      <span>Nowe wiadomości</span>
      <span class="material-icons">arrow_downward</span>
    </div>
  </ng-container>
</div>
