@import 'styles/colors';
@import 'styles/variables';

.chat-room-window {
  position: relative;
  width: 320px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.6rem;
  margin: 0 0.4rem;
  background-color: $grey-light;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 1;

  &:hover > .chat-room-window__close {
    opacity: 1;
  }

  &--hidden {
    opacity: 0;
  }

  &--mobile {
    position: fixed;
    width: 100%;
    height: calc(100% - #{$header-mobile-height});
    bottom: 0;
    left: 0;
    margin: 0;

    & > .chat-room-window__close {
      opacity: 1;
      top: 9px;
      right: 9px;
      transition: none;
    }
  }
}

.chat-room-window__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 2;
  right: -8px;
  top: -8px;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  opacity: 0;
  transform: translateY(3px);
  cursor: pointer;
  background-color: $primary-color;

  .material-icons {
    color: #fff;
    font-size: 16px;
  }
}

.chat-room-window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1rem;
  padding: 1rem;
  height: 44px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  cursor: pointer;
  transition: background 0.3s ease-out;
}

.chat-room-window__content {
  position: relative;
  height: 100%;
  overflow-y: auto;
  margin: 0 -0.6rem;
  padding: 0.6rem 0.6rem 0;
  background-color: $grey-dark;
}

.chat-room-window__user {
  display: flex;
  align-items: center;
  tf-user-avatar {
    margin-right: 0.6rem;
  }
  tf-counter {
    margin-left: 0.6rem;
  }
}

.chat-room-window__form {
  margin: 0 -0.6rem;
  padding: 0.5rem 0.6rem;
  border-top: 1px solid $grey-light;
  background-color: $grey-dark;
}

.chat-room-window__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0 0.7rem 0;
}

.chat-room-window__alert {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -0.6rem;
  padding: 0.5rem 0;
  color: #fff;
  width: 100%;
  background-color: $primary-color;
  cursor: pointer;

  .material-icons {
    font-size: 1rem;
  }

  &:hover {
    background-color: $primary-color-darker;
  }
}

.chat-room-window__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.6rem;
}
