@import 'styles/colors';
@import 'styles/variables';

$placeholder-bg-color: $grey-light;

.feedback-item-placeholder {
  padding: 1.2rem 2rem;
  border-radius: $base-border-radius;
  background-color: $card-color;
}

.feedback-item-placeholder__header {
  display: flex;
}

.feedback-item-placeholder__avatar {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: $placeholder-bg-color;
}

.feedback-item-placeholder__labels {
  margin-left: 1rem;
  margin-top: 4px;
  width: 100%;
}

.feedback-item-placeholder__label {
  &--long {
    width: 100%;
    height: 20px;
    margin-bottom: 0.5rem;
    background-color: $placeholder-bg-color;
    border-radius: $base-border-radius;
  }

  &--short {
    width: 50%;
    height: 14px;
    background-color: $placeholder-bg-color;
    border-radius: $base-border-radius;
  }
}

.feedback-item-placeholder__content {
  margin-top: 1rem;
  margin-left: calc(40px + 1rem);
  width: calc(100% - 40px - 1rem);
  height: 100px;
  background-color: $placeholder-bg-color;
  border-radius: $base-border-radius;
}
