<div class="feedback-item-placeholder">
  <div class="feedback-item-placeholder__header">
    <div class="feedback-item-placeholder__avatar"></div>
    <div class="feedback-item-placeholder__labels">
      <div class="feedback-item-placeholder__label--long"></div>
      <div class="feedback-item-placeholder__label--short"></div>
    </div>
  </div>
  <div class="feedback-item-placeholder__content"></div>
</div>
