<div class="home-section home-available-games">
  <div class="container">
    <h2 class="home-header">Platforma dostępna dla najpopularniejszych gier</h2>
    <span class="home-subheader">...a wkrótce już kolejne gry!</span>

    <div class="home-available-games__content">
      <img src="/assets/images/game-brands/lol_game_selector.png" alt="" />
      <img src="/assets/images/game-brands/cs_game_selector.jpg" alt="" />
      <img src="/assets/images/game-brands/fortnite.png" alt="" />
    </div>
  </div>
</div>
