<div class="chat-room-window-launcher" (click)="maximize()" [ngClass]="panelClasses">
  <span class="chat-room-window-launcher__close" (click)="close($event)">
    <span class="material-icons">close</span>
  </span>
  <div class="chat-room-window-launcher__user">
    <ng-container *ngIf="isPrivateChat">
      <tf-user-avatar [user]="room.memberProfile" [size]="'sm'"></tf-user-avatar>
      <span class="text-bold">{{ room.memberProfile.username }}</span>
    </ng-container>
    <ng-container *ngIf="isTeamChat">
      <img class="chat-room-window-launcher__avatar" [src]="room.team.logoUrl | imageUrl" alt="" />
      <span class="text-bold">{{ 'Czat drużynowy - ' + room.team.name }}</span>
    </ng-container>
  </div>
  <tf-counter [count]="unreadMessagesCount" [theme]="'danger'"></tf-counter>
</div>
