@import 'styles/variables';
@import 'styles/colors';

.chat-room-window-launcher {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 0.6rem;
  margin: 0 0.4rem;
  min-width: 130px;
  background-color: $grey-light;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;
  box-shadow: 0 16px 21px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover > .chat-room-window-launcher__close {
    opacity: 1;
  }

  &--active {
    background-color: $primary-color;
    color: white;
  }

  tf-counter {
    margin-left: 0.4rem;
  }
}

.chat-room-window-launcher__user {
  display: flex;
  align-items: center;

  tf-user-avatar {
    margin-right: 0.6rem;
  }
}

.chat-room-window-launcher__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 2;
  right: -8px;
  top: -8px;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  opacity: 0;
  transform: translateY(3px);
  cursor: pointer;
  background-color: $primary-color;

  .material-icons {
    color: #fff;
    font-size: 0.94rem;
  }
}

.chat-room-window-launcher__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.6rem;
}
