<div>
  <div class="align-center" style="margin-bottom: 1rem;">
    <p>{{ question }}</p>
  </div>
  <div class="inline-wrapper align-center">
    <tf-btn (click)="confirm()">Tak</tf-btn>
    <tf-btn theme="outline" (click)="decline()">Nie</tf-btn>
  </div>
</div>
