<tf-adsense-banner></tf-adsense-banner>
<div [formGroup]="filtersForm" class="entities-screen">
  <div class="entities-screen__toggle">
    <tf-btn
      [full]="true"
      [icon]="showFiltersOnLowResolution ? 'expand_less' : 'expand_more'"
      (click)="toggleFiltersOnLowResolutionVisibility()"
    >
      Filtruj wyniki
    </tf-btn>
  </div>

  <div
    *ngIf="canDisplayFilters"
    class="entities-screen__filters"
    [ngClass]="{ 'entities-screen__filters--visible': showFiltersOnLowResolution }"
  >
    <tf-entities-screen-filters [form]="filtersForm" (reset)="onReset()"></tf-entities-screen-filters>
  </div>

  <div class="entities-screen__content">
    <div class="entities-screen__board">
      <div class="entities-screen__total">
        <span *ngIf="totalResults || totalResults === 0">
          Znaleziono <strong>{{ totalResults }}</strong> {{ foundResultsEntityText }}
        </span>
      </div>
      <div class="entities-screen__sorters">
        <tf-select
          [formControlName]="'perPage'"
          [bindValue]="'value'"
          [options]="sorterOptions.perPageOptions"
          [label]="'Sortuj:'"
          [clearable]="false"
          [searchable]="false"
        ></tf-select>
        <tf-select
          [formControlName]="'order'"
          [bindValue]="'value'"
          [options]="sorterOptions.orderOptions"
          [label]="'Ilość na stronie:'"
          [clearable]="false"
          [searchable]="false"
        ></tf-select>
      </div>
    </div>
    <div class="entities-screen__list">
      <tf-entities-screen-list [records]="records"></tf-entities-screen-list>
      <div class="entities-screen__pagination">
        <tf-pagination [data]="pagination" (pageChanged)="onPageChanged($event)"></tf-pagination>
      </div>
    </div>
  </div>
</div>
