@import 'styles/variables';

.entities-screen {
  display: flex;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.entities-screen__filters {
  width: 420px;

  @include media-breakpoint-down(md) {
    display: none;
    width: 100%;
    margin-bottom: 4rem;
  }

  &--visible {
    display: block;
  }
}

.entities-screen__content {
  width: 100%;
  margin-left: 2rem;

  @include media-breakpoint-down(md) {
    margin-left: 0;
  }
}

.entities-screen__board {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.entities-screen__sorters {
  display: flex;

  tf-select {
    max-width: 154px;
    margin-left: 1rem;

    ::ng-deep .poppy-select__content input {
      padding: 0.6rem 0.8rem;
    }
  }

  tf-select:first-child {
    max-width: 72px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 1rem;
    tf-select:first-child {
      margin-left: 0;
    }
  }
}

.entities-screen__total {
  font-size: $font-size-lg;
}

.entities-screen__pagination {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.entities-screen__toggle {
  display: none;
  margin-bottom: 2rem;

  @include media-breakpoint-down(md) {
    display: block;
  }
}
