@import 'styles/colors';
@import 'styles/variables';

poppy-dialog {
  position: relative;
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1rem;
  z-index: $dialog-z-index;
}

.poppy-dialog {
  padding: 1.6rem;
  visibility: visible;
  background-color: #202020;
  border-radius: $base-border-radius;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  opacity: 0;
}

.poppy-dialog__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -7px;
  right: -7px;
  width: 24px;
  height: 24px;
  line-height: 1;
  background-color: $grey-light;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;

  span {
    vertical-align: middle;
  }
}
