<tf-headline
  [title]="'Edytuj dane profilowe'"
  [subtitle]="'Zarządzaj danymi swojego profilu gracza'"
></tf-headline>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <tf-add-avatar [thumbImage]="currentProfile.logoUrl" (selected)="avatarSelected($event)"></tf-add-avatar>
  <tf-game-role-picker *ngIf="canDisplayGameRolesField" [formControlName]="'roles'"></tf-game-role-picker>
  <tf-select
    *ngIf="canDisplayGameModesField"
    [formControlName]="'modes'"
    [label]="'Tryb gry'"
    [placeholder]="'Tryb gry..'"
    [options]="options.modes"
    [multiselect]="true"
    [bindValue]="'id'"
  ></tf-select>
  <tf-input
    [formControlName]="'desc'"
    [mode]="'textarea'"
    [label]="'O mnie'"
    [placeholder]="'Napisz coś o sobie'"
  ></tf-input>

  <div class="inline-wrapper align-center">
    <tf-btn type="submit" [disabled]="submitting">Zapisz zmiany</tf-btn>
  </div>
</form>
