<ng-container *ngIf="isLoggedIn$ | async; else login">
  <form [formGroup]="form">
    <tf-input [formControlName]="'content'" [placeholder]="'Treść komentarza'" mode="textarea"></tf-input>
    <div class="inline-wrapper">
      <tf-btn type="submit" [disabled]="!form.valid" (click)="onSubmit()">
        {{ isSubcomment ? 'Dodaj odpowiedź' : 'Dodaj komentarz' }}
      </tf-btn>
      <tf-btn *ngIf="isSubcomment" theme="outline" (click)="cancel()">Anuluj</tf-btn>
    </div>
  </form>
</ng-container>

<ng-template #login>
  <a tfAuthorizationNeeded class="primary"> Zaloguj się</a>, jeśli chcesz dodać komentarz.
</ng-template>
