<div class="notifications-compact-list">
  <div class="notifications-compact-list__header">
    <span>Ostatnie powiadomienia</span>
  </div>
  <div class="notifications-compact-list__content">
    <tf-infinite-scroll [pagination]="pagination$ | async" (loaded)="loadMore($event)">
      <tf-notification-item
        *ngFor="let item of items$ | async"
        poppyRemoveOnClick
        [item]="item"
      ></tf-notification-item>
    </tf-infinite-scroll>
  </div>
  <div>
    <a class="primary" (click)="markAllAsRead()">Oznacz wszystkie jako przeczytane</a>
  </div>
</div>
