@import 'styles/colors';

:host {
  display: block;
  height: 100%;
}

.notifications-compact-list {
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notifications-compact-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 600;
}

.notifications-compact-list__content {
  margin: 0 -25px;
  margin-bottom: 1rem;
  border-top: 2px solid $grey-light;
  border-bottom: 2px solid $grey-light;
  height: 100%;
  overflow: auto;

  tf-notification-item:first-child ::ng-deep .notification-item {
    border-top: 0;
  }

  tf-infinite-scroll {
    height: 100%;
    max-height: 500px;
  }
}
