<tf-adsense-banner></tf-adsense-banner>

<div *ngIf="!(loading$ | async) && !(notFound$ | async)">
  <div>
    <tf-entity-details-header
      *ngIf="data"
      [data]="data"
      [actions]="actions$ | async"
    ></tf-entity-details-header>
  </div>
  <div class="entity__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" style="margin-bottom: 1rem">
          <div *ngIf="data" class="content-box">
            <tf-entity-details-info [data]="data"></tf-entity-details-info>
          </div>
        </div>
        <div class="col-lg-8">
          <tf-entity-details-content *ngIf="data" [data]="data"></tf-entity-details-content>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="notFound$ | async">
  <tf-not-found></tf-not-found>
</ng-container>
