<div class="global-chat-user-list-item__wrapper">
  <tf-user-avatar [routerLink]="user | entityLink" [user]="user" tfCloseGlobalChatOnClick></tf-user-avatar>
  <a [routerLink]="user | entityLink" tfCloseGlobalChatOnClick>{{ user.username }}</a>
</div>
