<ng-content></ng-content>

<ng-container *ngIf="canDisplayLoaderContainer()">
  <div class="infinite-scroll__loader">
    <tf-loader [size]="size" *ngIf="loading"></tf-loader>
  </div>
</ng-container>
