<div class="section-box">
  <h3 class="section-title">Zmiana hasła</h3>

  <ng-container *ngIf="!show">
    <tf-btn (click)="show = true">Zmień hasło</tf-btn>
  </ng-container>

  <ng-container *ngIf="show">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <tf-input
        [formControlName]="'currentPassword'"
        [type]="'password'"
        [label]="'Aktualne hasło'"
        [placeholder]="'Twoje aktulane hasło'"
      ></tf-input>
      <tf-input
        [formControlName]="'newPassword'"
        [type]="'password'"
        [label]="'Nowe hasło'"
        [placeholder]="'Twoje nowe hasło'"
      ></tf-input>
      <tf-input
        [formControlName]="'repeatedPassword'"
        [type]="'password'"
        [label]="'Powtórz nowe hasło'"
        [placeholder]="'Powtórz twoje nowe hasło'"
      ></tf-input>

      <tf-error-message [reducerKey]="USER_REDUCER_KEY"></tf-error-message>

      <div class="inline-wrapper">
        <tf-btn type="text" theme="outline" (click)="show = false">Anuluj</tf-btn>
        <tf-btn type="submit" [disabled]="!form.valid" [submitted]="submitting$ | async">Zapisz</tf-btn>
      </div>
    </form>
  </ng-container>
</div>
