<div class="container container--small">
  <div class="content-box">
    <tf-headline [title]="'Edycja drużyny - ' + (teamName$ | async)"></tf-headline>

    <tf-tabs>
      <tf-tab [label]="'Dane drużyny'" [active]="true">
        <tf-team-form (submitted)="onSubmit($event)" [edit]="true"></tf-team-form>
      </tf-tab>
      <tf-tab [label]="'Członkowie'">
        <tf-edit-team-members></tf-edit-team-members>
      </tf-tab>
    </tf-tabs>
  </div>
</div>
