<div class="feedback-card-item">
  <div class="feedback-card-item__header">
    <div class="feedback-card-item__avatar">
      <ng-container *ngIf="sender">
        <div class="feedback-card-item__sender">
          <tf-user-avatar *ngIf="sender.entityType === 'user'" [user]="data.senderUser"></tf-user-avatar>
          <img *ngIf="sender.entityType === 'team'" [src]="sender.logoUrl | imageUrl" alt="" />
        </div>
      </ng-container>
    </div>
    <div class="feedback-card-item__info">
      <div class="feedback-card-item__label">
        <span class="feedback-card-item__name">
          <a [routerLink]="sender | entityLink">{{ sender.name || sender.username }}</a>
        </span>
        <span>{{ ' ' }}</span>
        <span class="feedback-card-item__action">{{ actionText }}</span>

        <ng-container *ngIf="receiver">
          <span>{{ ' ' }}</span>
          <span class="feedback-card-item__name">
            <a [routerLink]="receiver | entityLink">
              {{ receiver.name || receiver.username || 'Ogłoszenie #' + receiver.id }}
            </a>
          </span>
        </ng-container>
      </div>
      <div class="feedback-card-item__date">{{ data.createdAt | basicDate }}</div>
    </div>
  </div>

  <ng-container *ngIf="receiver">
    <div *ngIf="isCommentAction && data.comment" class="feedback-card-item__content">
      <div
        [routerLink]="data.receiverTeam || data.receiverGameAnnouncement | entityLink"
        class="feedback-card-item__comment"
      >
        <p>{{ data.comment.content | truncate }}</p>
      </div>
    </div>
    <div *ngIf="!isCommentAction" class="feedback-card-item__content">
      <ng-container [ngSwitch]="receiver.entityType">
        <ng-container *ngSwitchCase="'user'"></ng-container>
        <ng-container *ngSwitchCase="'team'">
          <tf-team-card [team]="data.receiverTeam"></tf-team-card>
        </ng-container>
        <ng-container *ngSwitchCase="'game-announcement'">
          <tf-announcement-card [data]="data.receiverGameAnnouncement"></tf-announcement-card>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
