@import 'styles/colors';
@import 'styles/variables';

.feedback-card-item {
  padding: 1.2rem 2rem;
  border-radius: $base-border-radius;
  background-color: $card-color;
}

.feedback-card-item__header {
  display: flex;
}

.feedback-card-item__info {
  margin-left: 0.6rem;
}

.feedback-card-item__action {
  color: $secondary-text-color;
}

.feedback-card-item__date {
  color: $secondary-text-color;
  font-size: 0.9em;
  font-weight: 600;
}

.feedback-card-item__content {
  margin-top: 1rem;
  margin-left: calc(40px + 0.6rem);

  tf-team-card ::ng-deep .team-card,
  tf-announcement-card ::ng-deep .announcement-card {
    background-color: #262626;
    box-shadow: none;
  }
  tf-announcement-card ::ng-deep .announcement-card__top {
    display: none;
  }
  tf-announcement-card ::ng-deep .announcement-card {
    min-height: unset;
  }
}

.feedback-card-item__comment {
  padding: 1rem;
  background-color: #262626;
  border-radius: $base-border-radius;
  cursor: pointer;
}
