<div class="container container--small">
  <div class="content-box">
    <div class="registration__wrapper">
      <ng-container *ngIf="!selectedGame">
        <div>
          <tf-headline [title]="'Wybierz swoją grę'" [align]="'center'"></tf-headline>
          <tf-emblemat-game-picker (selected)="onGameSelect($event)"></tf-emblemat-game-picker>
        </div>
      </ng-container>

      <ng-container *ngIf="selectedGame">
        <div class="registration__form">
          <ng-container *ngIf="activeStep < 4">
            <tf-headline [title]="'Załóż nowe konto'"></tf-headline>
            <tf-stepper [steps]="steps" [activeStep]="activeStep"></tf-stepper>
          </ng-container>

          <form [formGroup]="form">
            <div [hidden]="activeStep !== 1">
              <tf-registration-base-step [form]="form"></tf-registration-base-step>
            </div>

            <div [hidden]="activeStep !== 2">
              <tf-registration-game-account-step
                [form]="form"
                [selectedGame]="selectedGame"
                [dictionaries]="dictionaries$ | async"
              ></tf-registration-game-account-step>
            </div>

            <div [hidden]="activeStep !== 3">
              <tf-additional-step
                [form]="form"
                [selectedGame]="selectedGame"
                [dictionaries]="dictionaries$ | async"
              ></tf-additional-step>
            </div>

            <div [hidden]="activeStep !== 4">
              <tf-registration-review
                [success]="isRegisterSuccess$ | async"
                [registeredEmail]="form.value.email"
              ></tf-registration-review>
            </div>

            <div class="registration__actions align-center inline-wrapper">
              <ng-container *ngIf="activeStep > 1 && activeStep < 4">
                <tf-btn (click)="goBackStep()" [theme]="'outline'" [disabled]="submitting$ | async">
                  Cofnij
                </tf-btn>
              </ng-container>

              <ng-container *ngIf="activeStep < 3">
                <tf-btn [disabled]="!canNextStep()" (click)="goNextStep()">
                  Następny krok
                </tf-btn>
              </ng-container>

              <ng-container *ngIf="activeStep === 3">
                <tf-btn
                  [disabled]="!form.valid"
                  [type]="'submit'"
                  [submitted]="submitting$ | async"
                  (click)="onSubmit()"
                >
                  Zarejestruj się
                </tf-btn>
              </ng-container>
            </div>
          </form>
        </div>
      </ng-container>
    </div>
  </div>
</div>
