:host {
  & ::ng-deep .headline__wrapper {
    text-align: center;
  }
}

.registration__wrapper {
  display: flex;
  justify-content: center;
}

.registration__form {
  width: 100%;
  max-width: 700px;
}

.registration__actions {
  margin-top: 1rem;
}
