@import 'styles/colors';
@import 'styles/variables';

.global-chat__wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  height: 500px;
  background-color: $grey-dark;

  &--hidden {
    opacity: 0;
  }

  @include media-breakpoint-down(md) {
    height: calc(100% - #{$header-height}) !important;
  }

  @include media-breakpoint-down(sm) {
    height: calc(100% - #{$header-mobile-height}) !important;
  }
}

.global-chat__content {
  height: 100%;
  overflow-y: auto;
}

.global-chat__row {
  overflow: auto;
  height: 100%;
  position: relative;
}

.global-chat__form {
  padding: 0.8rem 0;
  border-top: 1px solid $grey-light;
}

.global-chat__list {
  height: 100%;
}

.global-chat__user-list {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.global-chat__messages-list {
  background-color: #222222;
  padding-right: 0;
}

.global-chat__channel-list {
  padding-top: 1rem;
  overflow-y: auto;
  @include media-breakpoint-down(md) {
    display: none;
  }
}
