<div #wrapperEl class="global-chat__wrapper" [ngClass]="{ 'global-chat__wrapper--hidden': !wasFirstOpen }">
  <tf-global-chat-header
    [activeUsersCount]="activeUsersCount$ | async"
    [isMaximized]="isChatMaximized"
    [unseenMessagesCount]="unseenMessagesCount$ | async"
    (closed)="onClose()"
    (maximized)="onMaximize()"
  ></tf-global-chat-header>

  <div class="global-chat__content container">
    <div class="row global-chat__row">
      <div class="col-lg-2 global-chat__list global-chat__channel-list">
        <tf-global-chat-channel-list></tf-global-chat-channel-list>
      </div>
      <div class="col-lg-7 global-chat__list global-chat__messages-list">
        <tf-global-chat-message-list
          *ngIf="activeChannel$ | async"
          [activeChannel]="activeChannel$ | async"
        ></tf-global-chat-message-list>
      </div>
      <div class="col-lg-3 global-chat__list global-chat__user-list">
        <tf-global-chat-user-list></tf-global-chat-user-list>
      </div>
    </div>
  </div>

  <div class="global-chat__form">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-7 offset-lg-2">
          <ng-container *ngIf="canCurrentUserSendChannelMessage$ | async">
            <ng-container *ngIf="isLoggedIn$ | async; else login">
              <tf-send-message (submitted)="onSubmitMessage($event)"></tf-send-message>
            </ng-container>
            <ng-template #login>
              <a tfAuthorizationNeeded tfCloseGlobalChatOnClick class="primary">
                Zaloguj się
              </a>
              , by dodać wiadomość.
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
