<!--FAVOURITE CHAMPIONS-->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Ulubione championy</h3>
    <div class="champions row">
      <div *ngFor="let champ of favouriteChampions$ | async" class="champion col-md-4">
        <div class="champion-avatar">
          <img [src]="champ.imageUrl" alt="lol-champion-avatar" />
        </div>
        <div class="champion-info">
          <span>{{ champ.name }}</span>
          <span>Punkty: {{ champ.championPoints }}</span>
          <span>Ranga: {{ champ.championLevel }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!(favouriteChampions$ | async).length">---</div>
  </div>
</ng-container>

<!--GAME HISTORY -->
<ng-container *ngIf="!isDevMode">
  <div class="content-box">
    <h3 class="section-title">Historia gier rankingowych</h3>
    <div>
      <tf-lol-games-history></tf-lol-games-history>
    </div>
  </div>
</ng-container>
