@import 'styles/variables';

.champions {
  justify-content: space-between;
}

.champion {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

.champion-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  width: 80px;
  margin-right: 1rem;
  border-radius: 50%;
}

.champion-info {
  display: flex;
  flex-direction: column;
}
