<div class="row">
  <div
    *ngFor="let item of records; trackBy: trackByFn"
    class="item col-md-6"
    [ngClass]="{
      'col-lg-4': screenType === ENTITIES_SCREENS.USERS
    }"
  >
    <tf-profile-card *ngIf="screenType === ENTITIES_SCREENS.USERS" [profile]="item"></tf-profile-card>
    <tf-team-card *ngIf="screenType === ENTITIES_SCREENS.TEAMS" [team]="item"></tf-team-card>
    <tf-announcement-card
      *ngIf="screenType === ENTITIES_SCREENS.GAME_ANNOUNCEMENTS"
      [data]="item"
    ></tf-announcement-card>
  </div>
</div>
