@import 'styles/variables';
@import 'styles/colors';

:host {
  display: block;
  width: 100%;
}

.stats-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: $grey-dark;
  border-radius: $base-border-radius;
  border: 2px solid $grey-light;
}

.stats-tile__label {
  color: $secondary-text-color;
  margin-bottom: .2rem;
}

.stats-tile__value {
  color: $primary-color;
  font-weight: 600;
  font-size: 1.4rem;
}
