@import 'styles/colors';

:host {
  display: flex;
  align-items: center;
  min-height: 34px;
  border-radius: 3px;
  padding: 4px 0;

  .material-icons {
    margin-left: 0.4rem;
    vertical-align: middle;
    cursor: pointer;
    color: $primary-color;
    font-size: 1.6rem;
  }

  tf-loader {
    display: inline-block;
    margin-left: 0.4rem;
    vertical-align: middle;
  }
}
