<span>
  Ostatnia aktualizacja:
  <strong>{{ (data?.game_metadata?.lastGameStatsUpdated | basicDate) || '---' }}</strong>
</span>
<ng-container *ngIf="canUpdateGameStats && !(loading$ | async)">
  <span class="material-icons" (click)="updateGameStats()">
    refresh
  </span>
</ng-container>
<ng-container *ngIf="loading$ | async">
  <tf-loader></tf-loader>
</ng-container>
