@import 'styles/colors';

.notification-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.9rem 25px;
  background-color: $grey-darker;
  border-top: 1px solid $grey-light;
  cursor: pointer;
  box-sizing: border-box;

  & > span {
    font-size: 0.8rem;
  }

  &:hover {
    background-color: $grey-dark;
  }

  &--unread {
    background-color: $grey-dark;
    border-left: 2px solid $primary-color-darker;

    &:hover {
      background-color: $grey;
    }
  }
}

.notification-item__content {
  margin-right: 2rem;
}
