<div class="notification-item" [ngSwitch]="item.type" [ngClass]="panelClasses" (click)="onClick()">
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_INVITED_TO_TEAM">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> zaprosił cię do drużyny
      <strong>{{ item.team.name }}</strong>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_JOINED_TO_TEAM">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> zaakceptował twoją prośbę o dołączenie do drużyny
      <strong>{{ item.team.name }}</strong>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_REQUESTED_TO_TEAM">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> zgłosił chęć dołączenia do twojej drużyny
      <strong>{{ item.team.name }}</strong>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_ACCEPT_INVITATION">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> zaakceptował twoje zaproszenie do drużyny
      <strong>{{ item.team.name }}</strong>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_COMMENTED_TEAM">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> dodał komentarz na profilu twojej drużyny
      <strong>{{ item.team.name }}</strong>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_COMMENTED_GAME_ANNOUNCEMENT">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> skomentował twoje ogłoszenie
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_RESPONSE_TO_TEAM_COMMENT">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> odpowiedział na twój komentarz na profilu drużyny
      <strong>{{ item.team.name }}</strong>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_RESPONSE_TO_GAME_ANNOUNCEMENT_COMMENT">
    <div class="notification-item__content">
      <strong>{{ item.sender.username }}</strong> odpowiedział na twój komentarz w ogłoszeniu
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_JOINED_TO_GAME_ANNOUNCEMENT">
    <div class="notification-item__content">
      Użytkownik <strong>{{ item.sender.username }}</strong> dołączył do wspólnego grania z tobą
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="NOTIFICATION_TYPE.USER_JOINED_TO_APP">
    <div class="notification-item__content">
      Gratulacje, właśnie dołączyłeś do <strong>TeamFindera</strong>. Dodaj swoją pierwszą drużynę już teraz!
    </div>
  </ng-container>
  <span>{{ item.createdAt | basicDate }}</span>
</div>
