<tf-form-control [label]="label">
  <div [formGroup]="parentFormGroup" class="range-select">
    <tf-select
      [formControlName]="formControlNames[0]"
      [bindValue]="bindValue"
      [options]="options"
      [placeholder]="'Od'"
    ></tf-select>
    <tf-select
      [formControlName]="formControlNames[1]"
      [bindValue]="bindValue"
      [options]="options"
      [placeholder]="'Do'"
    ></tf-select>
  </div>
</tf-form-control>
