.range-select {
  display: flex;

  tf-select {
    width: 50%;
  }

  tf-select ::ng-deep .form-validation {
    display: none;
  }

  tf-select:first-child {
    ::ng-deep input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:hover {
      z-index: 1;
    }
  }

  tf-select:last-child {
    margin-left: -1px;
    ::ng-deep input {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    &:hover {
      z-index: 1;
    }
  }
}
