@import 'styles/colors';

.feedback-compact-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid $grey;
}

.feedback-compact-item__entity {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
}

.feedback-compact-item__name {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.feedback-compact-item__action {
  display: flex;
  align-items: center;
  position: relative;
  color: $secondary-text-color;
  margin: 0 1rem;
}

.feedback-compact-item__action-name {
  display: inline-block;
  margin: 0 0.6rem;
}
