<div class="feedback-compact-item">
  <ng-container *ngIf="sender">
    <div class="feedback-compact-item__entity">
      <tf-user-avatar *ngIf="sender.entityType === 'user'" [user]="data.senderUser"></tf-user-avatar>
      <img *ngIf="sender.entityType === 'team'" [src]="sender.logoUrl | imageUrl" alt="" />
      <div class="feedback-compact-item__name">
        <a [routerLink]="sender | entityLink">{{ sender.name || sender.username }}</a>
        <span>{{ senderTypeLabel }}</span>
      </div>
    </div>
  </ng-container>

  <div class="feedback-compact-item__action">
    <span class="material-icons">chevron_right</span>
    <span class="feedback-compact-item__action-name">{{ actionText }}</span>
    <span *ngIf="receiver" class="material-icons">chevron_right</span>
  </div>

  <ng-container *ngIf="receiver">
    <div class="feedback-compact-item__entity">
      <tf-user-avatar *ngIf="receiver.entityType === 'user'" [user]="data.receiverUser"></tf-user-avatar>
      <img *ngIf="receiver.entityType === 'team'" [src]="receiver.logoUrl | imageUrl" alt="" />
      <div class="feedback-compact-item__name">
        <a [routerLink]="receiver | entityLink">
          {{ receiver.name || receiver.username || 'Ogłoszenie #' + receiver.id }}
        </a>
        <span>{{ receiverTypeLabel }}</span>
      </div>
    </div>
  </ng-container>
</div>
