@import 'styles/colors';

.global-chat-message__wrapper {
  display: flex;
  padding: 1rem 0;
  overflow-x: hidden;
  word-break: break-word;

  tf-user-avatar {
    cursor: pointer;
  }
}

.global-chat-message__content {
  width: 100%;
  margin-left: 1rem;
}

.global-chat-message__message {
  white-space: pre-line;
}

.global-chat-message__header {
  margin-bottom: 0.5rem;
}

.global-chat-message__username {
  font-weight: 600;
  margin-right: 0.8rem;
}

.global-chat-message__date {
  font-size: 0.8em;
  color: $grey-ultralight;
}
