<div class="global-chat-message__wrapper">
  <div class="global-chat-message__avatar">
    <tf-user-avatar
      [routerLink]="message.sender | entityLink"
      [user]="message.sender"
      tfCloseGlobalChatOnClick
    ></tf-user-avatar>
  </div>
  <div class="global-chat-message__content">
    <div class="global-chat-message__header">
      <a
        [routerLink]="message.sender | entityLink"
        tfCloseGlobalChatOnClick
        class="global-chat-message__username"
      >
        {{ message.sender.username }}</a
      >
      <span class="global-chat-message__date"> {{ message.createdAt | basicDate }}</span>
    </div>
    <div class="global-chat-message__message" [innerHTML]="message.content | interactiveText"></div>
  </div>
</div>
