@import 'styles/colors';

tf-team-card {
  display: block;
  margin-bottom: 1rem;

  ::ng-deep .team-card {
    background-color: $grey;
    box-shadow: none;
  }
}

img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
