<tf-headline [title]="'Moje drużyny'" [subtitle]="'Informacje o twoich drużynach'"></tf-headline>

<tf-tabs>
  <tf-tab [label]="'Drużyny których jesteś kapitanem'" [active]="true">
    <div class="overflow-auto">
      <tf-table
        *ngIf="ownedTeams.length"
        [columns]="['Nazwa', 'Liczba członków', 'Data założenia']"
        [actions]="getOwnedTeamActions.bind(this)"
        [data]="ownedTeams"
      >
        <ng-template tableCell let-element>
          <div>
            <img [src]="element.logoUrl | imageUrl" alt="" />
            <a [routerLink]="element | entityLink">{{ element.name }}</a>
          </div>
        </ng-template>

        <ng-template tableCell let-element> {{ element.members.length }} </ng-template>

        <ng-template tableCell let-element>{{ element.createdAt | basicDate }}</ng-template>
      </tf-table>

      <ng-container *ngIf="!ownedTeams.length && !loading">
        <div class="no-results-indicator">
          <span>Nie posiadasz jeszcze żadnej drużyny.</span>
          <tf-btn [routerLink]="STATIC_URLS['add-team'].slashPath" icon="add">Dodaj drużyne</tf-btn>
        </div>
      </ng-container>
    </div>
  </tf-tab>
  <tf-tab [label]="'Drużyny których jesteś członkiem'">
    <div class="overflow-auto">
      <tf-table
        *ngIf="memberTeams.length"
        [columns]="['Nazwa', 'Data dołączenia']"
        [actions]="getMemberTeamActions.bind(this)"
        [data]="memberTeams"
      >
        <ng-template tableCell let-element>
          <div>
            <img [src]="element.team.logoUrl | imageUrl" alt="" />
            <a [routerLink]="element.team | entityLink">{{ element.team.name }}</a>
          </div>
        </ng-template>

        <ng-template tableCell let-element>{{ element.dateOfJoin | basicDate }}</ng-template>
      </tf-table>

      <ng-container *ngIf="!memberTeams.length && !loading">
        <div class="no-results-indicator">
          <span>Nie jesteś jeszcze członkiem żadnej drużyny.</span>
          <tf-btn [routerLink]="'teams' | gamePrefixLink | async" icon="search">Szukaj drużyny</tf-btn>
        </div>
      </ng-container>
    </div>
  </tf-tab>
</tf-tabs>
