@import 'styles/colors';

.entity-details-info__box {
  margin-bottom: 2rem;

  & > div {
    display: flex;
    justify-content: center;
    color: $secondary-text-color;
  }

  tf-game-role-icon-group ::ng-deep img {
    width: 40px;
  }

  tf-update-profile-game-metadata {
    margin-top: 1rem;
  }
}

.entity-details-info__user {
  display: flex;

  tf-user-avatar {
    margin-right: 0.6rem;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.entity-details-info__ranks {
  img {
    width: 100px;
  }
}

.entity-details-info__rank {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 0.4rem;
  }
}
