<!--TEAM OWNER-->
<ng-container *ngIf="displayConditions.teamOwnerInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">Założyciel drużyny</h3>
    <div *ngIf="data.owner" class="entity-details-info__user">
      <tf-user-avatar [user]="data.owner" size="lg"></tf-user-avatar>
      <div>
        <a [routerLink]="data.owner | entityLink" class="primary">{{ data.owner.username }}</a>
        <span>Kapitan</span>
      </div>
    </div>
  </div>
</ng-container>

<!-- ANNOUNCEMENT AUTHOR -->
<ng-container *ngIf="displayConditions.announcementAuthorInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">Dodane przez</h3>
    <div *ngIf="data.author" class="entity-details-info__user">
      <tf-user-avatar [user]="data.author" size="lg"></tf-user-avatar>
      <div>
        <a [routerLink]="data.author | entityLink" class="primary">{{ data.author.username }}</a>
        <span>Autor</span>
      </div>
    </div>
  </div>
</ng-container>

<!--GAME ACCOUNT NAME-->
<ng-container *ngIf="displayConditions.userGameAccountNameInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">{{ translations?.userInfoGameAccountNameLabel }}</h3>
    <div>
      <span>{{ data.game_metadata?.accountName || '---' }}</span>
    </div>
    <tf-update-profile-game-metadata [data]="profile"></tf-update-profile-game-metadata>
  </div>
</ng-container>

<!-- GAME ACCOUNT LEVEL -->
<ng-container *ngIf="displayConditions.userGameAccountLevelInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">Level konta</h3>
    <div>
      <span>{{ data.game_metadata?.accountStats?.account?.level || '---' }}</span>
    </div>
  </div>
</ng-container>

<!--GAME RANK-->
<ng-container *ngIf="displayConditions.gameRankInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">{{ helpers.isUser ? 'Ranga' : 'Minimalna ranga' }}</h3>
    <div class="entity-details-info__ranks">
      <div *ngFor="let rank of ranks" class="entity-details-info__rank">
        <img [src]="rank.badge.lg | imageUrl" alt="rank" />
        <span>{{ rank.name }}</span>
        <span *ngIf="rank.queue">{{ rank.queue | gameRankName }}</span>
      </div>
      <span *ngIf="!ranks.length">---</span>
    </div>
  </div>
</ng-container>

<!--GAME SERVER-->
<ng-container *ngIf="displayConditions.serverRegionInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">Region serwera</h3>
    <div>
      <span>{{ data.gameServerMeta?.name || data.game_metadata?.accountServer?.name || '---' }}</span>
    </div>
  </div>
</ng-container>

<!--GAME ROLES-->
<ng-container *ngIf="displayConditions.gameRolesInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">{{ helpers.isUser ? 'Grane pozycje' : 'Poszukiwane pozycje' }}</h3>
    <div>
      <tf-game-role-icon-group [gameType]="data.type" [roles]="roles"></tf-game-role-icon-group>
      <span *ngIf="!roles.length">---</span>
    </div>
  </div>
</ng-container>

<!--GAME MODES-->
<ng-container *ngIf="displayConditions.gameModesInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">Tryb gry</h3>
    <div>
      {{ modes }}
      <span *ngIf="!modes.length">---</span>
    </div>
  </div>
</ng-container>

<!--DESC-->
<ng-container *ngIf="displayConditions.userDescInfoSection">
  <div class="entity-details-info__box">
    <h3 class="section-title">O mnie</h3>
    <div>
      <p *ngIf="data.desc" class="pre-line-text" [innerHTML]="data.desc | interactiveText"></p>
      <p *ngIf="!data.desc">---</p>
    </div>
  </div>
</ng-container>
