<div class="user-select">
  <poppy-select
    [value]="value"
    [bindLabel]="'username'"
    [async]="fetchUsers$.bind(this)"
    (changed)="onSelectValue($event)"
  >
    <ng-template poppy-option let-option>
      <div class="user-select__item">
        <tf-user-avatar [user]="option" [showCompactInfo]="false" [size]="'sm'"></tf-user-avatar>
        <span>{{ option.username }}</span>
      </div>
    </ng-template>
  </poppy-select>
</div>
