<div class="comment" [ngClass]="{ subcomment: isSubcomment }">
  <ng-container *ngIf="!edit" [ngTemplateOutlet]="contentTmp"></ng-container>
  <ng-container *ngIf="edit" [ngTemplateOutlet]="editTmp"></ng-container>
</div>

<ng-template #contentTmp>
  <div class="comment__avatar">
    <tf-user-avatar [user]="data.author"></tf-user-avatar>
  </div>
  <div class="comment__wrapper">
    <div class="comment__top inline-wrapper">
      <a [routerLink]="data.author | entityLink">{{ data.author.username }}</a>
      <span>᛫</span>
      <div class="comment__date">
        <span class="material-icons">calendar_today</span>
        {{ data.createdAt | basicDate }}
      </div>
    </div>

    <div class="comment__content pre-line-text">
      <p [innerHTML]="data.content | interactiveText"></p>
    </div>

    <div *ngIf="!isSubcomment" class="comment__bottom">
      <div class="comment__controls">
        <button
          class="comment__like"
          [ngClass]="{
            'comment__like--active': data.currentUserLikes,
            'comment__like--disabled': !(canPerformAuthorizeAction$ | async)
          }"
          (click)="onLike()"
        >
          <span class="material-icons">thumb_up</span> {{ data.likesCount }}
        </button>

        <ng-container *ngIf="canPerformAuthorizeAction$ | async">
          <a class="comment__respond" (click)="onAddSubcomment()">Odpowiedz</a>
        </ng-container>

        <tf-add-comment
          *ngIf="addSubcomment"
          [isSubcomment]="true"
          [parentComment]="data"
          (canceled)="onCancelAddingSubcomment()"
        ></tf-add-comment>
      </div>

      <div *ngIf="!!data.subcommentsCount" class="comment__subcomments">
        <a class="comment__show-subcomments" (click)="toggleListSubcomments()">
          {{ showSubcommentsLinkText }}
        </a>

        <ng-container *ngIf="data.showSubcomments">
          <tf-comments-item
            *ngFor="let subcomment of data.subcomments"
            [data]="subcomment"
            [currentUser]="currentUser"
            [isSubcomment]="true"
            [parentComment]="data"
          ></tf-comments-item>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="canDisplayActionMenu" class="comment__menu">
    <tf-action-menu [actions]="actions"></tf-action-menu>
  </div>
</ng-template>

<ng-template #editTmp>
  <tf-edit-comment
    [comment]="data"
    [parentComment]="parentComment"
    [isSubcomment]="isSubcomment"
    (canceled)="onCancelEdit()"
  ></tf-edit-comment>
</ng-template>
