@import 'styles/colors';
@import 'styles/variables';

.comment {
  position: relative;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: $base-border-radius;
  background-color: #262626;

  //&:hover > .comment__menu {
  //  opacity: 1;
  //}

  tf-edit-comment,
  tf-add-comment {
    display: block;
    width: 100%;
  }
}

.subcomment {
  margin-bottom: 0;
}

.comment__top {
  display: flex;
  align-items: center;
}

.comment__date {
  display: flex;
  align-items: center;
  font-size: 0.84rem;
  color: $secondary-text-color;

  .material-icons {
    font-size: 0.84rem;
    margin-right: 0.2rem;
  }
}

.comment__content {
  margin: 0.3rem 0 0 0;
}

.comment__wrapper {
  width: 100%;
  margin-left: 1rem;
}

.comment__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  width: 100%;

  tf-edit-comment,
  tf-add-comment {
    margin-top: 1rem;
  }

  .material-icons {
    font-size: 1rem;
    margin-right: 0.2rem;
  }
}

.comment__respond {
  font-size: 0.84rem;
  color: $secondary-text-color;
  margin-left: 0.5rem;
}

.comment__show-subcomments {
  display: inline-block;
  margin-top: 0.4rem;
}

.comment__menu {
  //opacity: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.comment__controls {
}

.comment__like {
  span {
    vertical-align: sub;
  }

  &--active > .material-icons {
    color: $primary-color;
  }

  &--disabled {
    cursor: initial;
    pointer-events: none;
  }
}
