@import 'styles/variables';
@import 'styles/colors';

.footer__wrapper {
  background-color: $black;
  color: $secondary-text-color;
  a {
    color: $secondary-text-color;
  }
}

.footer__content {
  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.footer__container {
  padding: 2rem 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;

  li {
    display: inline;
    margin-left: 1rem;
    list-style: none;

    &:first-child {
      margin: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    nav {
      margin-top: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    nav {
      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-left: 0;
        }
      }
    }
  }
}

.footer__brand {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.footer__meta {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}
