<footer id="footer" class="footer__wrapper">
  <div class="footer__container">
    <div class="container">
      <div class="footer__content">
        <div class="footer__nav">
          <div class="footer__brand">
            <tf-logo></tf-logo>
            <span>| Znajdź kompanów do wspólnych gier.</span>
          </div>
          <nav>
            <ul>
              <li *ngFor="let link of links">
                <a *ngIf="!link.needsGamePrefix" [routerLink]="[link.path]"
                  ><span>{{ link.label }}</span></a
                >
                <a
                  *ngIf="link.needsGamePrefix && link.gamePrefix"
                  [routerLink]="[link.gamePrefix + link.path]"
                >
                  <span>{{ link.label }}</span>
                </a>
                <a *ngIf="link.needsGamePrefix && !link.gamePrefix" [tfNeedsSelectGame]="link.path">
                  <span>{{ link.label }}</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="footer__meta">
          <span>
            © 2019-2020 TeamFinder |
            <a [routerLink]="STATIC_URLS.policy.slashPath">Regulamin i polityka prywatności</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
