@import 'styles/colors';

.icon-btn {
  display: flex;
  padding: 0.4rem;
  cursor: pointer;

  &:hover {
    border-radius: 50%;
  }
}

.icon-btn--primary {
  color: #f5ffec;

  &:hover {
    background-color: $grey-light;
  }
}
