<div class="emblemat-game-picker__wrapper">
  <div *ngFor="let item of GAMES" class="emblemat-game-picker__item" (click)="onItemClick(item)">
    <div class="emblemat-game-picker__image">
      <img [src]="item.logo" alt="game-emblemat" />
    </div>
    <span class="emblemat-game-picker__name">{{ item.displayName }}</span>
  </div>
</div>
