@import 'styles/colors';
@import 'styles/variables';

.emblemat-game-picker__wrapper {
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.emblemat-game-picker__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emblemat-game-picker__image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 2rem;
  margin-bottom: 1rem;
  border: 3px solid $grey-lighter;
  background-color: $grey-light;
  cursor: pointer;
  box-shadow: 2px 3px 6px #121111;
  transition: all 0.2s ease-out;

  &:hover,
  &--selected {
    border-color: $primary-color;
  }

  img {
    width: 100px;
  }

  @include media-breakpoint-down(sm) {
    width: 90px;
    height: 90px;

    img {
      width: 70px;
      height: 70px;
    }
  }
}
