@import 'styles/variables';

.account-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  tf-stats-tile {
    width: 32%;
    margin-bottom: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(md) {
    tf-stats-tile {
      width: 48%;
    }
  }

  @include media-breakpoint-down(sm) {
    tf-stats-tile {
      width: 100%;
    }
  }
}

.account-game-mode-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  tf-fnt-game-mode-stats {
    display: block;
    width: 32%;
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    tf-fnt-game-mode-stats {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.stats-controller-switcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
