<!-- ACCOUNT STATS-->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Statystyki konta</h3>
    <ng-container *ngIf="stats; else emptyStats">
      <div class="stats-controller-switcher">
        <tf-icon-switcher
          [options]="gameControllerSwitcherOptions"
          [value]="selectedGameController"
          (selected)="onGameControllerSelect($event)"
        ></tf-icon-switcher>
      </div>
      <div class="account-stats">
        <tf-stats-tile
          *ngFor="let stats of stats.tileStats"
          [label]="stats.label"
          [value]="stats.value"
        ></tf-stats-tile>
      </div>
      <div class="account-game-mode-stats">
        <tf-fnt-game-mode-stats
          *ngFor="let stats of stats.gameModeStats"
          [data]="stats"
        ></tf-fnt-game-mode-stats>
      </div>
    </ng-container>
    <ng-template #emptyStats>
      <span>---</span>
    </ng-template>
  </div>
</ng-container>

<!--GAME HISTORY -->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Historia ostatnich gier</h3>
    <div>
      W trakcie budowy..
    </div>
  </div>
</ng-container>
