@import 'styles/colors';
@import 'styles/variables';

:host {
  display: block;
  width: 100%;
  padding: 1rem 1.6rem;
  border: 1px solid;
  border-radius: $base-border-radius;
}

:host(.success) {
  color: $primary-color;
  border-color: $primary-color;
}

:host(.normal) {
  border-color: $grey-light;
}
