@import 'styles/variables';
@import 'styles/colors';

tf-input {
  width: 100%;
}

.tf-input {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 1rem;
  box-sizing: border-box;

  input {
    width: 100%;
    border-radius: 4px;
    background-color: transparent;
    padding: 0.6rem 0.8rem;
    border: 2px solid $grey-light;

    &:focus,
    &:hover {
      border-color: $primary-color;
      outline: 0;
    }
  }

  textarea {
    min-height: 100px;
  }
}

.tf-input__loader {
  position: absolute;
  right: 15px;
  top: 11px;
}

.tf-input__visibility {
  position: absolute;
  right: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  user-select: none;

  span {
    cursor: pointer;
    color: $primary-color;
  }
}
