<tf-form-control [label]="label" [required]="required" [control]="control">
  <div class="tf-input">
    <ng-container *ngIf="mode === 'input'">
      <input
        [type]="_type"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [value]="value"
        (input)="onChange($event)"
        (blur)="onBlur()"
        (focus)="onFocus()"
        (keypress)="onKeyPress($event)"
      />
      <ng-container *ngIf="pending$ | async">
        <div class="tf-input__loader">
          <tf-loader></tf-loader>
        </div>
      </ng-container>

      <ng-container *ngIf="type === 'password'">
        <div class="tf-input__visibility">
          <span class="material-icons" (click)="togglePasswordVisibility()">
            {{ _type === 'password' ? 'visibility' : 'visibility_off' }}
          </span>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="mode === 'textarea'">
      <textarea
        tfResizeTextarea
        [placeholder]="placeholder"
        [disabled]="disabled"
        [value]="value"
        (input)="onChange($event)"
        (blur)="onBlur()"
        (focus)="onFocus()"
      ></textarea>
    </ng-container>
  </div>
</tf-form-control>
