<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <h2 class="headline">Ostatnie aktywności</h2>
      <ng-container *ngIf="!!(feedbacks$ | async)?.results?.length; else feedbacksPlaceholdersTmp">
        <tf-infinite-scroll
          [pagination]="(feedbacks$ | async)?.pagination"
          [trigger]="'body'"
          [size]="'lg'"
          (loaded)="loadMoreFeedbacks()"
        >
          <tf-feedback-card-item
            *ngFor="let item of (feedbacks$ | async)?.results"
            [data]="item"
          ></tf-feedback-card-item>
        </tf-infinite-scroll>
      </ng-container>
      <ng-template #feedbacksPlaceholdersTmp>
        <tf-feedback-item-placeholder
          *ngFor="let item of feedbacksPlaceholders"
        ></tf-feedback-item-placeholder>
      </ng-template>
    </div>
    <div class="col-4 d-none d-lg-block" style="position: relative;">
      <div class="content-box comments">
        <h3 class="section-title">
          Najnowsze komentarze
        </h3>
        <div class="overflow-auto pr-2">
          <ng-container *ngIf="!!(comments$ | async).results.length; else commentsPlaceholdersTmp">
            <tf-feedback-card-item *ngFor="let comment of (comments$ | async)?.results" [data]="comment">
            </tf-feedback-card-item>
          </ng-container>
          <ng-template #commentsPlaceholdersTmp>
            <tf-feedback-item-placeholder
              *ngFor="let item of commentsPlaceholders"
            ></tf-feedback-item-placeholder>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
