.comments {
  position: sticky;
  top: calc(68px + 1rem);
}

tf-feedback-card-item ::ng-deep .feedback-card-item,
tf-feedback-item-placeholder ::ng-deep .feedback-item-placeholder {
  margin-bottom: 1rem;
}

.comments {
  max-height: calc(100vh - 150px);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  ul {
    overflow-y: auto;
    padding-right: 1rem;
  }

  .section-title {
    margin-bottom: 2rem;
  }

  tf-feedback-card-item ::ng-deep .feedback-card-item,
  tf-feedback-item-placeholder ::ng-deep .feedback-item-placeholder {
    padding: 0;
    margin-bottom: 2rem;
  }

  tf-feedback-card-item:last-child ::ng-deep .feedback-card-item,
  tf-feedback-item-placeholder:last-child ::ng-deep .feedback-item-placeholder {
    margin: 0;
  }
}

.headline {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
