<tf-headline [title]="'Wybierz swoją grę'" align="center"></tf-headline>

<div>
  <tf-emblemat-game-picker (selected)="onGameSelect($event)"></tf-emblemat-game-picker>

  <div class="align-center">
    <div class="game-picker-dialog__login">
      Posiadasz już konto?
      <tf-btn theme="outline" (click)="onLogin()">Zaloguj się</tf-btn>
    </div>
  </div>
</div>
