<div>
  <div>
    <h2>Regulamin korzystania z serwisu</h2>
  </div>

  <p>
    <strong>Teamfinder.pl</strong> jest serwisem, którego celem jest ułatwienie jego użytkownikow szukanie
    graczy do wspólnych gier (takich jak np. League of Legends czy Fortnite). Usługi świadczone na naszej
    stronie są całkowicie <strong>bezpłatne</strong> i nie wiażą się z żadnymi opłatami.
  </p>

  <p>
    1. Usługi świadczone przez naszą stronę na rzecz odwiedzających i zarejestrowanych użytkowników objemują:
  </p>

  <ul>
    <li>możliwość przeglądania zasobów serwisu</li>
    <li>możliwość korzystania z wyszukiwarek</li>
    <li>
      możliwość dodania swojego konta użytkownika i korzystania z niego
    </li>
    <li>
      możliwość dodawania ogłoszeń "Wspólne granie" jako zarejestrowany użytkownik
    </li>
    <li>
      możliwość dodawania profilu drużyny jako zarejestrowany użytkownik
    </li>
    <li>
      możliwość korzystania z czatu jako zarejestrowany użytkownik
    </li>
    <li>
      możliwość zapraszania innych użytkowników do swoich drużyn jako zarejestrowany użytkownik
    </li>
  </ul>

  <p>
    2. Z chwilą rejestracji i założenia nowego konta użytkownika między administratorem strony a użytkownikiem
    zostaje zawarta umowa o świadczenie usług drogą elektroniczną. W takim przypadku użytkownik oświadcza, że
    akceptuje poniższy regulamin i zobowiązauje się go przestrzegać.
  </p>

  <p>
    3. Tak zawarta umowa jest dla użytkowników
    <strong>nieodpłatna</strong>, a wszystkie usługi świadczone na stronie są <strong>bezpłatne</strong>.
  </p>
  <p>4. Umowa zostaje zawarta na czas nieokreślony.</p>

  <p>
    5. Umowa zostaje zawarta poprzez poprawne wypełnienie formularza rejestarcyjnego i wyrażenie zgody na
    postanowienia regulaminu i polityki prywatności.
  </p>
  <p>
    6. Użytkownik w każdej chwili może wypowiedzieć umowę i żądać usunięcia jego konta użytkownika.
  </p>

  <div>
    <h2>Polityka prywatności i pliki cookies</h2>
  </div>

  <p>
    Dokonując rejestracji użytkownik wyraża zgodę na przetwarzanie przez administratora strony nastepujących
    danych osobowych:
  </p>
  <ul>
    <li>nazwa użytkownika</li>
    <li>adres e-mail</li>
    <li>wiek</li>
  </ul>
  <br />

  <p>
    Powyższe dane osobowe są wykorzystywane tylko na użytek strony i nie są przekazywane podmiotom
    zewnętrznym. Dane osobowe są gromadzone z należytą starannością i odpowiednio chronione przed dostępem do
    nich przez osoby do tego nieupoważnione
  </p>

  <p>
    Serwis wykorzystuje pliki cookies do śledzenia statystyk strony, takich jak liczba osób odwiedzających,
    rodzaj systemu operacyjnego i przeglądarki internetowej wykorzystywanej do przeglądania strony, czas
    spędzony na stronie, odwiedzone podstrony etc. Korzystam w tym zakresie z Google Analytics, co wiąże się z
    wykorzystaniem plików cookies firmy Google LLC. Dane te mogą być wykorzystywane do analityki ale nie są
    wykorzystywane do działań marketingowych.
  </p>
  <p>
    Serwis wykorzystuje również pamięć przeglądarki do przechowywania informacji o aktualnie zalogowanym
    użytkowniku, informacji o zapamiętanych okienkach czatu i informacji o wyrażonej zgodzie na korzystanie z
    plików cookies.
  </p>
  <br />
  <br />
  <p>
    Wszelkie pytania i wnioski odnośnie regulaminu, polityki prywatności i danych osobowych proszę kierować na
    adres mailowy:
    <a class="primary" href="mailto:teamfinder@teamfinder.pl">
      teamfinder@teamfinder.pl
    </a>
  </p>
</div>
