<div class="settings-account-details section-box">
  <h3 class="section-title">Dane konta</h3>

  <ng-container *ngIf="!edit">
    <tf-btn icon="edit" size="small" class="settings-account-details__edit" (click)="enableEdit()"
      >Edytuj dane
    </tf-btn>
  </ng-container>

  <ng-container *ngIf="!edit">
    <ul class="two-column-list">
      <li>
        <label>Adres email:</label>
        <span>{{ currentUser?.email }}</span>
      </li>
      <li>
        <label>Wiek:</label>
        <span>{{ currentUser?.age | userAge }}</span>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="edit">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <tf-select
        [formControlName]="'age'"
        [label]="'Rok urodzenia'"
        [placeholder]="'Rok urodzenia..'"
        [options]="options.birthYears"
        [bindValue]="'value'"
      ></tf-select>
      <div class="inline-wrapper">
        <tf-btn theme="outline" size="small" (click)="onCancelEdit()">Anuluj</tf-btn>
        <tf-btn type="submit" size="small" [disabled]="!form.valid" [submitted]="submitting$ | async">
          Zapisz zmiany
        </tf-btn>
      </div>
    </form>
  </ng-container>
</div>
