@import 'styles/variables';

.settings-account-details {
  position: relative;

  @include media-breakpoint-down(sm) {
    padding-top: 2rem;
  }
}

.settings-account-details__edit {
  position: absolute;
  top: -20px;
  right: 0;
}
