<tf-headline
  [title]="'Moje prośby/zaproszenia'"
  [subtitle]="'Poniżej znajdują się wysłane przez ciebie zgłoszenia do drużyn oraz otrzymane zaproszenia'"
></tf-headline>

<div class="overflow-auto">
  <tf-tabs *ngIf="activeTab">
    <tf-tab [label]="'Wysłane podania'" [active]="activeTab === 'sentRequests'">
      <tf-my-profile-invitations-list
        [data]="sentRequests$ | async"
        scope="sentRequests"
      ></tf-my-profile-invitations-list>
    </tf-tab>
    <tf-tab [label]="'Otrzymane zaproszenia'" [active]="activeTab === 'receivedInvitations'">
      <tf-my-profile-invitations-list
        [data]="receivedInvitations$ | async"
        scope="receivedInvitations"
      ></tf-my-profile-invitations-list>
    </tf-tab>
  </tf-tabs>
</div>
