<ng-container *ngIf="canDisplayCreateSection$ | async">
  <div class="all-announcements__create">
    <div class="all-announcements__create-content">
      <h2>Umawiaj się na wspólne rozgrywki!</h2>
      <p>
        Poszukujesz kompanów do wspólnego grania kolejek rankingowych? A może szukasz graczy na wieczorne
        spotkania z Teamfight Tactics? Dodaj swoje ogłoszenie by znaleść chętnych!
      </p>
    </div>
    <tf-btn tfAuthorizationNeeded [icon]="'whatshot'" size="large" (afterAuthorization)="showAddDialog()">Dodaj ogłoszenie</tf-btn>
  </div>
</ng-container>

<tf-entities-screen></tf-entities-screen>
