@import 'styles/colors';
@import 'styles/variables';

.all-announcements__create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3rem 0;
  background-color: $grey-dark;
  border-radius: $base-border-radius;
  padding: 1.8rem;
  box-shadow: 6px 7px 5px -9px #060606;

  &-content {
    width: 65%;
    margin-right: 2rem;

    h2 {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 600;
      border-bottom: 2px solid $grey-light;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;

    &-content {
      width: 100%;
      margin-bottom: 1.4rem;
    }
  }
}
