<div>
  <tf-headline [title]="'Dodaj nowe ogłoszenie'"></tf-headline>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <tf-input
      [formControlName]="'desc'"
      [label]="'Treść ogłoszenia'"
      [placeholder]="'Dodaj informacje o ogłoszeniu, np. o terminach planowanych spotkań..'"
      [mode]="'textarea'"
    ></tf-input>
    <tf-select
      *ngIf="fieldsDisplayCondition('rank')"
      [formControlName]="'rank'"
      [label]="'Minimalna ranga'"
      [placeholder]="'Minimalna wymagana ranga..'"
      [options]="options.ranks"
      [bindValue]="'id'"
    ></tf-select>
    <tf-select
      *ngIf="fieldsDisplayCondition('modes')"
      [formControlName]="'modes'"
      [label]="'Tryb gry'"
      [placeholder]="'Tryb gry..'"
      [options]="options.modes"
      [multiselect]="true"
      [bindValue]="'id'"
    ></tf-select>
    <tf-game-role-picker
      *ngIf="fieldsDisplayCondition('roles')"
      [formControlName]="'roles'"
      [label]="'Poszukiwana pozycja'"
    ></tf-game-role-picker>
    <div class="inline-wrapper align-center">
      <tf-btn type="submit" [disabled]="!form.valid" [submitted]="submitting$ | async">
        Zapisz ogłoszenie
      </tf-btn>
    </div>
  </form>
</div>
