<div [formGroup]="form">
  <ng-container *ngIf="canDisplayGameServerField">
    <tf-select
      [formControlName]="'gameAccountServer'"
      [label]="'Region serwera w League of Legends'"
      [placeholder]="'Region serwera'"
      [options]="dictionaries.servers[selectedGame.key]"
    ></tf-select>
  </ng-container>
  <tf-input
    [hidden]="!canDisplayGameAccountField"
    [formControlName]="'gameAccountName'"
    [label]="translations?.registerGameAccountLabel"
    [placeholder]="translations?.registerGameAccountLabel"
  ></tf-input>
</div>
