@import 'styles/variables';

.chat {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 0;
  padding-right: 185px;
  z-index: $chat-z-index;

  &--mobile {
    z-index: 9997;
  }
}
