<div class="chat" [ngClass]="{ 'chat--mobile': isMobile }">
  <ng-container *ngFor="let roomWindow of roomWindows$ | async; trackBy: trackByFn">
    <ng-container *ngIf="roomWindow?.maximized">
      <tf-chat-room-window
        [room]="roomWindow"
        (closed)="onClose(roomWindow)"
        (minimized)="onMinimize(roomWindow)"
      ></tf-chat-room-window>
    </ng-container>
    <ng-container *ngIf="roomWindow && !roomWindow.maximized">
      <tf-chat-room-window-launcher
        [room]="roomWindow"
        (closed)="onClose(roomWindow)"
        (maximized)="onMaximize(roomWindow)"
      ></tf-chat-room-window-launcher>
    </ng-container>
  </ng-container>
</div>
