<div class="cs-weapon-card">
  <span class="cs-weapon-card__label">
    {{ data.name | uppercase }}
  </span>
  <img
    [src]="'/assets/images/cs-weapons/' + data.name + '.png'"
    class="cs-weapon-card__image"
    alt="cs-weapon-image"
  />
  <div class="cs-weapon-card__stats">
    <div class="cs-weapon-card__stat">
      <div class="cs-weapon-card__stat-info">
        <span>Zabójstwa</span>
        <strong>{{ data.kills }}</strong>
      </div>
      <div class="cs-weapon-card__stat-bar">
        <div
          class="cs-weapon-card__stat-bar--completed"
          [ngStyle]="{ width: (data.kills * 100) / maxKills | percent }"
        ></div>
      </div>
    </div>
    <div class="cs-weapon-card__stat">
      <div class="cs-weapon-card__stat-info">
        <span>Celność</span>
        <strong>{{ data.accuracy | percent }}</strong>
      </div>
      <div class="cs-weapon-card__stat-bar">
        <div class="cs-weapon-card__stat-bar--completed" [ngStyle]="{ width: data.accuracy | percent }"></div>
      </div>
    </div>
  </div>
</div>
