@import 'styles/colors';
@import 'styles/variables';

.cs-weapon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem 0;
  background-color: #262626;
  border-radius: $base-border-radius;
  color: $secondary-text-color;
}

.cs-weapon-card__image {
  width: 100%;
  max-width: 240px;
  padding: 0 10px;
}

.cs-weapon-card__stats {
  width: 100%;
  padding: 0 20px;
}

.cs-weapon-card__stat {
  width: 100%;
  margin-bottom: 10px;
}

.cs-weapon-card__stat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cs-weapon-card__stat-bar {
  width: 100%;
  border-radius: $base-border-radius;
  height: 5px;
  background-color: $grey-light;
  margin-top: 6px;

  &--completed {
    border-radius: $base-border-radius;
    height: 5px;
    background-color: $primary-color;
  }
}
