@import 'styles/colors';
@import 'styles/variables';

.error-message {
  text-align: center;
  color: $danger-color;
  background-color: $grey;
  padding: .7rem;
  border-radius: $base-border-radius;
}
