@import 'styles/variables';

.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  ::ng-deep {
    .error-message {
      margin-top: -1rem;
      margin-bottom: 1rem;
    }
  }
}

.login__inner {
  width: 540px;
  margin: 0 1rem;
}

.login__form {
  box-shadow: 2px 2px 30px #111;
  padding-left: 80px;
  padding-right: 80px;

  & ::ng-deep .headline__wrapper {
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.login__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.login__sign-up {
  text-align: center;
  margin-top: 1.4rem;
}

.login__footer {
  margin-top: 1rem;
  text-align: center;
}
