<div class="login__wrapper">
  <div class="login__inner">
    <div class="login__logo">
      <tf-logo></tf-logo>
    </div>
    <div class="login__form content-box">
      <tf-headline
        [title]="'Zaloguj się'"
        [subtitle]="'Wypełnij poniższe dane lub załóż nowe konto'"
        [align]="'center'"
      ></tf-headline>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <tf-input [formControlName]="'email'" [placeholder]="'Twój adres e-mail'"></tf-input>
        <tf-input [formControlName]="'password'" [placeholder]="'Twóje hasło'" [type]="'password'"></tf-input>

        <tf-error-message [reducerKey]="AUTH_REDUCER_KEY"></tf-error-message>

        <tf-btn [full]="true" [disabled]="!form.valid" [submitted]="submitted$ | async" [type]="'submit'">
          Zaloguj się
        </tf-btn>
      </form>
      <p class="login__sign-up">
        <span>Nie masz jeszcze konta? </span>
        <a [routerLink]="STATIC_URLS['sign-up'].slashPath" class="primary">Załóż teraz!</a>
      </p>
    </div>
    <div class="login__footer">
      <a class="primary" (click)="onRemindPassword()">Zapomniałeś hasła?</a>
    </div>
  </div>
</div>
