@import 'styles/colors';
@import 'styles/variables';

.tile-select {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.tile-select__item {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 0 0.8rem;
  margin-bottom: 0.6rem;
  border-radius: $base-border-radius;
  background-color: $grey-darker;
  cursor: pointer;

  img {
    margin-right: 0.6rem;
    width: 28px;
    height: 28px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &--selected {
    background-color: $primary-color;
    color: white;
  }
}
