<tf-form-control [label]="label" [control]="control" [required]="required">
  <div class="tile-select">
    <div
      *ngFor="let item of displayedOptions"
      class="tile-select__item"
      [ngClass]="{ 'tile-select__item--selected': item.selected }"
      (click)="onItemClick(item)"
    >
      <img *ngIf="item.iconUrl" [src]="item.iconUrl" alt="icon" />
      <span>{{ item.label }}</span>
    </div>
  </div>
</tf-form-control>
