<tf-form-control [label]="'Poszukiwane pozycje'" [control]="control" [required]="required">
  <div class="game-role-picker">
    <div *ngFor="let item of displayedOptions" class="game-role-picker__item" (click)="onItemClick(item)">
      <img [src]="item.imagePath" alt="game-role-image" />
      <span *ngIf="item.selected" class="material-icons">check_circle_outline</span>
    </div>
  </div>
</tf-form-control>
