@import 'styles/colors';
@import 'styles/variables';

.game-role-picker {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 92px;

  @include media-breakpoint-down(sm) {
    min-height: 35px;
  }
}

.game-role-picker__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 90px;
  cursor: pointer;
  opacity: 0.76;

  img {
    width: 60px;
  }

  .material-icons {
    position: absolute;
    right: 0;
    top: 3px;
    font-weight: 400;
    color: $primary-color;
  }

  &:hover {
    opacity: 1;
  }

  @include media-breakpoint-down(md) {
    width: 75px;
    img {
      width: 60px;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 45px;
    img {
      width: 35px;
    }
  }
}
