<div *ngIf="data" class="pagination">
  <!-- DESKTOP VERSION -->
  <div class="d-none d-sm-block w-100">
    <ul class="pagination__list">
      <li
        class="pagination__item"
        [ngClass]="{ 'pagination__item--disabled': isLeftArrowDisabled }"
        (click)="pagin(data.currentPage - 1)"
      >
        <span class="material-icons">chevron_left</span>
      </li>

      <ng-container *ngFor="let item of items">
        <ng-container *ngIf="item !== 'more' && item !== 'less'; else more">
          <li
            class="pagination__item"
            [ngClass]="{ 'pagination__item--active': item === data.currentPage }"
            (click)="pagin(item)"
          >
            <span>{{ item }}</span>
          </li>
        </ng-container>
        <ng-template #more>
          <li
            class="pagination__item pagination__more"
            [ngClass]="{ 'pagination__item--active': item === data.currentPage }"
            (click)="pagin(item === 'more' ? data.currentPage + 3 : data.currentPage - 3)"
          >
            <span class="material-icons">more_horiz</span>
          </li>
        </ng-template>
      </ng-container>

      <li
        class="pagination__item"
        [ngClass]="{ 'pagination__item--disabled': isRightArrowDisabled }"
        (click)="pagin(data.currentPage + 1)"
      >
        <span class="material-icons">chevron_right</span>
      </li>
    </ul>
  </div>

  <!-- MOBILE VERSION -->
  <div class="d-sm-none w-100">
    <div class="pagination__list">
      <div
        class="pagination__item"
        [ngClass]="{ 'pagination__item--disabled': isLeftArrowDisabled }"
        (click)="pagin(data.currentPage - 1)"
      >
        <span class="material-icons">chevron_left</span>
      </div>

      <div class="pagination__counter">
        <strong>{{ data.currentPage }}</strong> <span>&nbsp;/&nbsp;</span> <span>{{ totalPages }}</span>
      </div>

      <div
        class="pagination__item"
        [ngClass]="{ 'pagination__item--disabled': isRightArrowDisabled }"
        (click)="pagin(data.currentPage + 1)"
      >
        <span class="material-icons">chevron_right</span>
      </div>
    </div>
  </div>
</div>
