@import 'styles/colors';
@import 'styles/variables';

:host {
  width: 100%;
}

.pagination {
  text-align: center;
}

.pagination__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.pagination__item {
  list-style: none;
  margin-right: 1rem;
  border: 1px solid $grey-lighter;
  border-radius: $base-border-radius;
  vertical-align: middle;
  height: 32px;
  min-width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;

  &:hover {
    background-color: $grey-light;
  }

  span {
    display: block;
  }

  .material-icons {
    line-height: 0.8;
    font-size: 1rem;
  }

  &--active {
    background-color: $primary-color-darker;
    border-color: $primary-color;
    color: white;
    &:hover {
      background-color: $primary-color-darker;
      border-color: lighten($primary-color, 10%);
      color: white;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.pagination__more {
  border: 0;
}

.pagination__counter {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  height: 32px;
}
