@import 'styles/colors';
@import 'styles/variables';

.my-profile-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  min-height: 38px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.my-profile-header__details {
  display: flex;
  align-items: center;
}

.my-profile-header__info {
  margin-left: 1rem;
  color: $secondary-text-color;

  h2 {
    font-size: 1.8rem;
    color: $text-color;
  }
}

.my-profile-header__avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 80px;
    height: 80px;
  }
}

.my-profile-header__actions {
  display: flex;
  align-items: center;

  tf-btn {
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-top: 1rem;

    tf-btn {
      margin-top: 10px;
      margin-right: 0;
      width: 100%;
    }
  }
}

.my-profile__nav {
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}
