<div class="container">
  <div class="my-profile-header__wrapper">
    <div class="my-profile-header__details">
      <tf-user-avatar [user]="currentUser.profile" size="xl"></tf-user-avatar>
      <div class="my-profile-header__info">
        <h2>{{ currentUser.profile?.username }}</h2>
      </div>
    </div>

    <div class="my-profile-header__actions inline-wrapper">
      <tf-btn [routerLink]="MY_PROFILE_STATIC_URLS['edit-profile'].slashPath" [icon]="'edit'">
        Edytuj profil
      </tf-btn>
      <tf-btn [routerLink]="MY_PROFILE_STATIC_URLS['settings'].slashPath" [icon]="'settings'">
        Ustawienia
      </tf-btn>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="content-box my-profile__nav">
        <tf-collapsable-navigation
          [schema]="navigationSchema"
          (changed)="onNavigationChanged($event)"
        ></tf-collapsable-navigation>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="content-box">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
