@import 'styles/colors';

tf-checkbox {
  display: block;
}

.tf-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: -2px;
  outline: 0;

  .material-icons {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
  }

  &--active {
    transition: 0.1s ease-in;
    .material-icons {
      color: $primary-color;
    }
  }

  &--full {
    width: 100%;
  }
}

.tf-checkbox__label {
  margin-left: 30px;
  margin-top: 2px;
}
