<div
  class="tf-checkbox"
  tabindex="0"
  [ngClass]="{
    'tf-checkbox--full': label,
    'tf-checkbox--active': checked,
    'tf-checkbox--disabled': disabled
  }"
  (click)="onClick($event)"
  (blur)="onBlur()"
>
  <input type="checkbox" [checked]="checked" [disabled]="disabled" hidden />
  <i *ngIf="!checked" class="material-icons">check_box_outline_blank</i>
  <i *ngIf="checked" class="material-icons">check_box</i>

  <ng-container *ngIf="label">
    <div class="tf-checkbox__label">
      <span *ngIf="!isLabelTemplate">{{ label }}</span>
      <ng-container *ngIf="isLabelTemplate">
        <ng-template #labelTmp [ngTemplateOutlet]="labelTemp"></ng-template>
      </ng-container>
    </div>
  </ng-container>
</div>
