<ng-container *ngIf="loading && !results.length">
  <tf-loader size="lg"></tf-loader>
</ng-container>

<tf-lol-games-history-item *ngFor="let item of results" [game]="item"></tf-lol-games-history-item>

<ng-container *ngIf="!!results.length">
  <tf-btn [full]="true" [disabled]="loading" (click)="loadMore()">Pokaż więcej</tf-btn>
</ng-container>
