<!-- DESC -->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Treść ogłoszenia</h3>
    <div>
      <p *ngIf="data.desc" class="pre-line-text" [innerHTML]="data.desc | interactiveText"></p>
      <p *ngIf="!data.desc">---</p>
    </div>
  </div>
</ng-container>

<!-- MEMBERS -->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Dołączyli</h3>
    <div class="row">
      <ng-container *ngIf="!!data.members.length">
        <div *ngFor="let member of data.members" class="col-lg-3 col-md-4 col-sm-6">
          <tf-profile-card [profile]="member.member" theme="light"></tf-profile-card>
        </div>
      </ng-container>

      <ng-container *ngIf="!data.members.length">
        <div class="no-results-indicator">
          <span>Nikt jeszcze nie dołączył do tego ogłoszenia </span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
