<div class="global-chat-header__wrapper" (click)="close()">
  <div class="container">
    <div class="global-chat-header__inside">
      <div class="global-chat-header__left">
        <div
          class="global-chat-header__channels-trigger"
          [ngClass]="{ 'global-chat-header__channels-trigger--newMessages': unseenMessagesCount > 0 }"
          tfStopPropagationOnClick
          [poppyPopover]="channelsList"
        >
          <span class="material-icons">menu</span>
        </div>
        <span>Chat - Wspólne rozmowy</span>
        <div class="global-chat-header__online-users">
          <strong>{{ activeUsersCount }}</strong> online
          <tf-online-status-indicator [isOnline]="true"></tf-online-status-indicator>
        </div>
      </div>
      <div class="global-chat-header__right">
        <span class="material-icons">
          minimize
        </span>
        <span
          class="material-icons global-chat-header__maximize"
          [ngStyle]="{ transform: isMaximized ? 'rotate(180deg)' : 'rotate(0deg)' }"
          (click)="maximize($event)"
        >
          launch
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #channelsList>
  <tf-global-chat-channel-list></tf-global-chat-channel-list>
</ng-template>
