@import 'styles/colors';
@import 'styles/variables';

:host {
  display: block;
  position: relative;
  background-color: $grey-light;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  cursor: pointer;
}

.global-chat-header__wrapper {
  padding: 6px 0;
}

.global-chat-header__inside {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.global-chat-header__left,
.global-chat-header__right {
  display: flex;
  align-items: center;
}

.global-chat-header__online-users {
  margin-left: 1rem;
}

.global-chat-header__maximize {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.global-chat-header__channels-trigger {
  position: relative;
  display: none;
  align-items: center;
  margin-right: 0.5rem;
  @include media-breakpoint-down(md) {
    display: flex;
  }

  &--newMessages {
    &:after {
      content: '';
      position: absolute;
      display: block;
      bottom: 1px;
      right: -1px;
      background-color: $primary-color;
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
  }
}
