@import 'styles/variables';
@import 'styles/colors';

.global-chat-channel-list {
  user-select: none;
}

.global-chat-channel-list-item {
  margin: 0.4rem 0;
  list-style: none;
  cursor: pointer;
}

.global-chat-channel-list-item__channel {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0.4rem;
  &--active {
    background-color: $grey-light;
    border-radius: $base-border-radius;
    color: $text-color-light;
    font-weight: 600;
  }

  &--newMessages {
    font-weight: 600;
    color: $text-color-light;
  }

  tf-counter {
    margin-left: 0.5rem;
  }
}

.global-chat-channel-list-item__group {
  margin-bottom: 1rem;
  & > label {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    cursor: pointer;
    font-size: 0.84em;
  }

  .material-icons {
    font-size: 15px;
    vertical-align: middle;
  }

  &--newMessages {
    font-weight: 600;
    color: $text-color-light;
  }
}

.global-chat-channel-list__separator {
  margin-bottom: 1rem;
  list-style: none;
}
