<div class="global-chat-channel-list">
  <ul>
    <ng-container *ngFor="let channel of channels$ | async; trackBy: trackByChannelId">
      <ng-container *ngTemplateOutlet="channelItem; context: { $implicit: channel }"></ng-container>
    </ng-container>

    <li class="global-chat-channel-list__separator"></li>

    <li
      class="global-chat-channel-list-item global-chat-channel-list-item__group"
      [ngClass]="{
        'global-chat-channel-list-item__group--newMessages': !group.expanded && hasGroupNewMessages(group)
      }"
      *ngFor="let group of groups$ | async; trackBy: trackByGroupId"
    >
      <label (click)="toggleGroup(group.id)">
        <span class="material-icons">{{ group.expanded ? 'expand_more' : 'chevron_right' }}</span>
        {{ group.name }}
      </label>

      <ul *ngIf="group.expanded">
        <ng-container *ngFor="let channel of group.channels; trackBy: trackByChannelId">
          <ng-container *ngTemplateOutlet="channelItem; context: { $implicit: channel }"></ng-container>
        </ng-container>
      </ul>
    </li>
  </ul>
</div>

<ng-template #channelItem let-channel>
  <li
    class="global-chat-channel-list-item global-chat-channel-list-item__channel"
    [ngClass]="{
      'global-chat-channel-list-item__channel--active': channel.active,
      'global-chat-channel-list-item__channel--newMessages':
        channel.unseenMessagesSinceLastDisplay && channel.id !== activeChannelId
    }"
    poppyRemoveOnClick
    (click)="selectChannel(channel.id)"
  >
    {{ channel.name }}
    <tf-counter
      *ngIf="channel.unseenMessagesSinceLastDisplay && channel.id !== activeChannelId"
      [count]="channel.unseenMessagesSinceLastDisplay"
    ></tf-counter>
  </li>
</ng-template>
