@import 'styles/variables';
@import 'styles/colors';

.fnt-game-mode-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 1rem;
  background-color: $grey-dark;
  border-radius: $base-border-radius;
  color: $secondary-text-color;
  overflow: hidden;
}

.fnt-game-mode-stats__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: $grey-light;
  margin-bottom: 1rem;
}

.fnt-game-mode-stats__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.fnt-game-mode-stats__item {
  width: 50%;
  margin-bottom: 0.5rem;

  span {
    font-weight: 600;
    color: $text-color;
    font-size: $font-size-md;
  }
}

.fnt-game-mode-stats__label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  max-width: 90%;
  margin-bottom: .2rem;
}
