<div class="fnt-game-mode-stats">
  <div class="fnt-game-mode-stats__title">
    <strong>{{ data.label }}</strong>
    <span *ngIf="data.stats">{{ data.stats.matches }} meczy</span>
  </div>

  <ng-container *ngIf="data.stats">
    <div class="fnt-game-mode-stats__content">
      <div *ngFor="let item of data.stats.stats" class="fnt-game-mode-stats__item">
        <div class="fnt-game-mode-stats__label">{{ item.label }}</div>
        <span>{{ item.value }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!data.stats">
    <span>Brak danych</span>
  </ng-container>
</div>
