<div>
  <div class="inline-wrapper edit-team-members__input">
    <tf-user-select
      [label]="'Dodaj nowego gracza'"
      [excludedUsers]="[]"
      [formControl]="selectedUser"
    ></tf-user-select>
    <tf-btn [disabled]="!selectedUser.valid" (click)="onSubmit()">Zaproś gracza</tf-btn>
  </div>

  <ng-container *ngIf="!(members$ | async).length; else members">
    <div class="no-results-indicator">
      <div>Twoja drużyna nie posiada jeszcze żadnych członków.</div>
      <tf-btn [routerLink]="'users' | gamePrefixLink | async" [icon]="'search'">Szukaj graczy</tf-btn>
    </div>
  </ng-container>

  <ng-template #members>
    <h3 class="section-title">Członkowie ({{ (members$ | async).length }})</h3>
    <div *ngFor="let member of members$ | async" class="edit-team-members__member">
      <div>
        <tf-user-avatar [user]="member.profile" [showStatus]="false"></tf-user-avatar>
        <a [routerLink]="member.profile | entityLink">{{ member.profile.username }}</a>
      </div>
      <div>
        <tf-icon-btn (click)="remove(member)">delete</tf-icon-btn>
      </div>
    </div>
  </ng-template>
</div>
