@import 'styles/colors';
@import 'styles/variables';

.edit-team-members__input {
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $grey-light;

  tf-user-select {
    width: 100%;

    ::ng-deep .form-validation {
      display: none;
    }

    ::ng-deep .form-group {
      margin-bottom: 0;
    }
  }

  ::ng-deep .tf-btn {
    width: max-content;
    height: 44px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    tf-user-select {
      margin: 0 0 1rem 0;
    }

    ::ng-deep .tf-btn {
      width: 100%;
      height: 44px;
    }
  }
}

.edit-team-members__member {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: $base-border-radius;
  margin-bottom: 1.5rem;

  tf-user-avatar {
    margin-right: 0.5rem;
  }
}
