<ng-container *ngIf="label">
  <div class="loader__wrapper">
    <div class="loader" [ngClass]="panelClasses"></div>
    <div class="loader__label">{{ label }}</div>
  </div>
</ng-container>

<ng-container *ngIf="!label">
  <div class="loader" [ngClass]="panelClasses"></div>
</ng-container>
