@import 'styles/colors';
@import 'styles/animations';

.loader__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader__label {
  margin-top: 1rem;
  color: $primary-color;
}

.loader,
.loader:after {
  border-radius: 50%;
}
.loader {
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid $primary-color;
  transform: translateZ(0);
  animation: rotate 1.2s linear infinite;
}

.loader--xs {
  border-width: 2px;
  &,
  &:after {
    content: '';
    width: 18px;
    height: 18px;
  }
}

.loader--sm {
  border-width: 2px;
  &,
  &:after {
    content: '';
    width: 20px;
    height: 20px;
  }
}

.loader--lg {
  border-width: 4px;
  &,
  &:after {
    content: '';
    width: 74px;
    height: 74px;
  }
}
