<form [formGroup]="form">
  <tf-input [formControlName]="'content'" [placeholder]="'Treść komentarza'" mode="textarea"></tf-input>

  <div class="inline-wrapper justify-right">
    <tf-btn size="small" theme="outline" (click)="cancel()">Anuluj</tf-btn>
    <tf-btn type="submit" size="small" [disabled]="!form.valid" (click)="onSubmit()">Zapisz</tf-btn>
  </div>
</form>
