@import 'styles/colors';
@import 'styles/variables';

.home-jumbotron {
  background-image: linear-gradient(transparent, #000), url(/assets/images/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 110px;

  @include media-breakpoint-down(md) {
    background-position: 50%;
  }
}

.home-jumbotron__content {
  padding-top: 100px;
  max-width: 700px;
  color: white;

  h2 {
    color: $secondary-text-color;
    margin: 1rem 0 2.2rem 0;
    font-size: 1.4rem;
  }

  @include media-breakpoint-down(md) {
    max-width: none;
    text-align: center;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
}
