<section class="home-jumbotron">
  <div class="container">
    <div class="home-jumbotron__content">
      <h1 class="home-jumbotron__header">
        Pierwsza w Polsce platforma do szukania graczy i teamu w League of Legends, CS:GO i Fortnite
      </h1>
      <h2 class="home-jumbotron__subheader">Szukaj ludzi i drużyn do grania w LoL, CS:GO i Fortnite</h2>
      <tf-btn [routerLink]="STATIC_URLS['sign-up'].slashPath" size="large">Dołącz teraz</tf-btn>
    </div>
  </div>
</section>
