<div class="lol-games-history-item__wrapper">
  <div class="lol-games-history-item__header">
    <div class="lol-games-history-item__gameType">
      <span class="lol-games-history-item__queue">{{ queueName }}</span>
      - <span>{{ game.gameCreation | basicDate }}</span
      >-<span>{{ game.gameDuration | minutesDuration }}</span>
      <span
        *ngIf="game.summonerPlayer.win"
        class="lol-games-history-item__status lol-games-history-item__status--success"
      >
        Wygrana
      </span>
      <span
        *ngIf="!game.summonerPlayer.win"
        class="lol-games-history-item__status lol-games-history-item__status--fail"
      >
        Przegrana
      </span>
    </div>
  </div>

  <div class="lol-games-history-item__content">
    <div class="lol-games-history-item__avatar">
      <div class="lol-games-history-item__userAvatar">
        <img [src]="game.summonerPlayer.champion.imageUrl" alt="" />
      </div>
      <div class="lol-games-history-item__spells">
        <img *ngFor="let spell of game.summonerPlayer.spells" [src]="spell" alt="" />
      </div>
    </div>

    <div class="lol-games-history-item__kda">
      <div class="lol-games-history-item__kdaNumbers">
        <span class="lol-games-history-item__kda--k">{{ game.summonerPlayer.kda.k }}</span>
        <span class="lol-games-history-item__kda--separator">/</span>
        <span class="lol-games-history-item__kda--d">{{ game.summonerPlayer.kda.d }}</span>
        <span class="lol-games-history-item__kda--separator">/</span>
        <span class="lol-games-history-item__kda--a">{{ game.summonerPlayer.kda.a }}</span>
      </div>
      <span class="lol-games-history-item__kda--score">{{ kdaScoreLabel }}</span>
      <div class="lol-games-history-item__stats">
        <span class="lol-games-history-item__statsItem">
          Zabite potwory(CS): <span>{{ game.summonerPlayer.minionsKilled }}</span>
        </span>

        <span class="lol-games-history-item__statsItem">
          Uzyskana złoto: <span>{{ game.summonerPlayer.goldEarned }} </span>
        </span>
      </div>
    </div>

    <div class="lol-games-history-item__equip">
      <div class="lol-games-history-item__items">
        <div class="lol-games-history-item__baseItems">
          <ng-container *ngFor="let item of game.summonerPlayer.items.slice(0, 6)">
            <img *ngIf="item" [src]="item" alt="" />
            <span *ngIf="!item" class="lol-games-history-item__itemEmpty"></span>
          </ng-container>
        </div>
        <div>
          <img [src]="game.summonerPlayer.items[6]" alt="" />
        </div>
      </div>
    </div>
    <div class="lol-games-history-item__members">
      <div class="lol-games-history-item__players">
        <div *ngFor="let ally of game.otherPlayers.slice(0, 5)" class="lol-games-history-item__player">
          <div class="lol-games-history-item__playerAvatar">
            <img [src]="ally.champion.imageUrl" alt="" />
          </div>
          <span>{{ ally.playerName }}</span>
        </div>
      </div>

      <div class="lol-games-history-item__players">
        <div *ngFor="let enemy of game.otherPlayers.slice(5, 10)" class="lol-games-history-item__player">
          <div class="lol-games-history-item__playerAvatar">
            <img [src]="enemy.champion.imageUrl" alt="" />
          </div>
          <span>{{ enemy.playerName }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
