@import 'styles/colors';

.lol-games-history-item__wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.lol-games-history-item__avatar {
  display: flex;
  height: fit-content;
}
.lol-games-history-item__userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 3px;
  overflow: hidden;
  img {
    width: 60px;
  }
}

.lol-games-history-item__spells {
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    margin-right: 3px;
  }
}

.lol-games-history-item__info {
  display: flex;
  flex-direction: column;
}

.lol-games-history-item__stats {
  display: flex;
  flex-direction: column;
  margin-top: 4px !important;
}

.lol-games-history-item__equip {
  display: flex;
  flex-direction: column;
  img {
    width: 22px;
    height: 22px;
    border-radius: 6px;
  }
}

.lol-games-history-item__items {
  display: flex;
}

.lol-games-history-item__itemEmpty {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: #1e1e1e;
  display: inline-flex;
}

.lol-games-history-item__baseItems {
  margin-right: 3px;
  width: calc(3 * 28px);
  display: flex;
  flex-wrap: wrap;
  height: 64px;
  & > * {
    margin: 0 3px;
    margin-bottom: 3px;
  }
}

.lol-games-history-item__player {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  color: #9a9a9a;
  span {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.lol-games-history-item__playerAvatar {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  overflow: hidden;
  img {
    width: 16px;
  }
}

.lol-games-history-item__status {
  font-weight: bold;
  font-size: 0.9em;
  &--success {
    color: $primary-color;
  }
  &--fail {
    color: $danger-color;
  }
}

.lol-games-history-item__queue {
  font-weight: bold;
  margin-bottom: 16px;
}

.lol-games-history-item__date {
  color: #a9a9a9;
}

.lol-games-history-item__kda {
  text-align: center;
  &--separator {
    padding: 0 3px;
  }
  &--d {
    color: #747474;
  }
  &--score {
    color: #9a9a9a;
  }
}

.lol-games-history-item__kdaNumbers {
  font-size: 1.2em;
  font-weight: bold;
}

.lol-games-history-item__statsItem {
  color: #a9a9a9;
  span {
    color: $text-color;
    font-weight: bold;
  }
}

///

.lol-games-history-item__content {
  max-width: 720px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  width: 100%;
  align-items: center;

  * > div {
    margin: 0 5px;
  }
}

.lol-games-history-item__header {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  width: 100%;
  color: #9a9a9a;
  padding: 6px 10px;
  border-radius: 3px;
}

.lol-games-history-item__gameType {
  & > * {
    margin: 0 4px;
  }
}

.lol-games-history-item__members {
  display: flex;
  div:first-child {
    margin-right: 10px;
  }
}
