<div class="container container--small">
  <div class="content-box">
    <tf-headline [title]="'Zmiana hasła'"></tf-headline>

    <ng-container *ngIf="!success; else successTmp">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <tf-input
          [formControlName]="'password'"
          [type]="'password'"
          [label]="'Nowe hasło'"
          [placeholder]="'Twoje nowe hasło'"
        ></tf-input>
        <tf-input
          [formControlName]="'passwordRepeat'"
          [type]="'password'"
          [label]="'Powtórz nowe hasło'"
          [placeholder]="'Powtórz twoje nowe hasło'"
        ></tf-input>

        <div class="align-center">
          <tf-btn type="submit" [disabled]="!form.valid" [submitted]="submitting">Zmień hasło</tf-btn>
        </div>
      </form>
    </ng-container>

    <ng-template #successTmp>
      <tf-info status="normal">
        Twoje hasła zostało zmienione poprawnie.
        <a class="primary" [routerLink]="STATIC_URLS['login'].slashPath">Zaloguj się</a>
        używając swojego nowego hasła.
      </tf-info>
    </ng-template>
  </div>
</div>
