@import 'styles/colors';
@import 'styles/variables';

.entity-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  min-height: 38px;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.entity-header__details {
  display: flex;
  align-items: center;
}

.entity-header__info {
  margin-left: 1rem;
  color: $secondary-text-color;

  h2 {
    margin-bottom: .4rem;
    font-size: 1.8rem;
    color: $text-color;
  }
}

.entity-header__avatar {
  width: 100px;
  height: 100px;
  min-width: 100px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100px;
    height: 100px;
  }

  @include media-breakpoint-down(sm) {
    width: 70px;
    height: 70px;
    min-width: 70px;

    img {
      width: 70px;
      height: 70px;
    }
  }
}

.entity-header__actions {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-top: 1rem;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    tf-btn {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
