<div class="container">
  <div class="entity-header__wrapper">
    <div class="entity-header__details">
      <ng-container *ngIf="helpers.isTeam">
        <div class="entity-header__avatar">
          <img *ngIf="data?.logoUrl" [src]="data.logoUrl | imageUrl" alt="entity-logo" />
        </div>
        <div class="entity-header__info">
          <h2>{{ data?.name }}</h2>
          <div>Założono {{ data?.createdAt | basicDate }}</div>
        </div>
      </ng-container>

      <ng-container *ngIf="helpers.isUser">
        <tf-user-avatar [user]="user" size="xl"></tf-user-avatar>
        <div class="entity-header__info">
          <h2>{{ user.username }}</h2>
          <div>Wiek: {{ user.user?.age | userAge }} lat/a</div>
          <div>Ostatnia aktywność: {{ user.lastOnlineAt | basicDate }}</div>
        </div>
      </ng-container>
    </div>

    <div class="entity-header__actions inline-wrapper">
      <tf-btn
        *ngFor="let action of actions"
        [color]="action.btnType || 'primary'"
        (click)="action.callback()"
        [icon]="action.icon"
        [disabled]="action.disabled"
      >
        {{ action.label }}
      </tf-btn>
    </div>
  </div>
</div>
