@import 'styles/variables';
@import 'styles/colors';

:host {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: $grey;
  width: 340px;
  height: 85px;
  z-index: $alert-z-index;
  border-radius: $base-border-radius;
  box-shadow: 1px 3px 6px -1px #111;
  opacity: 0;
}

.tf-alert {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 100%;
  border-left: 3px solid transparent;
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  border-color: $grey-light;

  &--success {
    border-color: $primary-color;
  }

  &--failed {
    border-color: $danger-color;
  }
}

.tf-alert__close {
  position: absolute;
  top: 6px;
  right: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1;
  cursor: pointer;
}
