<div class="my-profile-preview__header">
  <tf-headline [title]="'Mój profil'" [subtitle]="'Podgląd twojego profilu gracza'"></tf-headline>
  <tf-btn [routerLink]="currentProfile | entityLink" icon="open_in_new">Podejrzyj mój profil gracza</tf-btn>
</div>

<!--GAME ACCOUNT NAME-->
<ng-container *ngIf="gameCheckers.isLol || gameCheckers.isFnt">
  <div class="my-profile-preview__box">
    <h3 class="section-title">{{ gameTranslations?.userInfoGameAccountNameLabel }}</h3>
    <div>
      <span>{{ currentProfile.game_metadata?.accountName || '---' }}</span>
    </div>
  </div>
</ng-container>

<!--GAME SERVER-->
<ng-container *ngIf="gameCheckers.isLol">
  <div class="my-profile-preview__box">
    <h3 class="section-title">Region serwera</h3>
    <div>
      <span>{{ currentProfile.gameAccountServer || currentProfile.gameServerMeta?.name || '---' }}</span>
    </div>
  </div>
</ng-container>

<!--GAME ROLES-->
<ng-container *ngIf="gameCheckers.isLol || gameCheckers.isCs">
  <div class="my-profile-preview__box">
    <h3 class="section-title">Grane pozycje</h3>
    <div>
      <tf-game-role-icon-group [gameType]="currentProfile.type" [roles]="roles"></tf-game-role-icon-group>
      <span *ngIf="!roles.length">---</span>
    </div>
  </div>
</ng-container>

<!--GAME MODES-->
<ng-container *ngIf="gameCheckers.isLol || gameCheckers.isCs">
  <div class="my-profile-preview__box">
    <h3 class="section-title">Preferowane tryby gry</h3>
    <div>
      {{ modes }}
      <span *ngIf="!modes.length">---</span>
    </div>
  </div>
</ng-container>

<!--DESC-->
<ng-container>
  <div class="my-profile-preview__box">
    <h3 class="section-title">O mnie</h3>
    <div>
      <p class="pre-line-text">{{ currentProfile.desc || '---' }}</p>
    </div>
  </div>
</ng-container>
