@import 'styles/colors';
@import "styles/variables";

.my-profile-preview__box {
  margin-bottom: 2rem;

  div {
    display: flex;
    justify-content: flex-start;
    color: $secondary-text-color;
  }
}

.my-profile-preview__rank {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-profile-preview__header {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-bottom: 2rem;

    tf-btn {
      margin-top: -1rem;
    }
  }
}
