@import 'styles/colors';
@import 'styles/variables';

$btn-border-radius: $base-border-radius;

tf-btn {
  display: inline-block;
  appearance: none !important;
  &[disabled='true'] {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.tf-btn {
  display: inline-flex;
  align-items: center;
  outline: 0;
  border: 0;
  border-radius: $btn-border-radius;
  font-weight: 600;
  transition: all 0.2s ease-out;
  appearance: none;
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    filter: brightness(60%);
    user-select: none;
  }

  .material-icons {
    font-size: 1.4em;
    margin-left: 0.2em;
  }

  div {
    line-height: 1;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    justify-content: center;
  }
}

.tf-btn-primary {
  color: #f5ffec;
  background-color: $primary-color;
  border: 1px solid transparent;

  .icon {
    color: #f5ffec;
  }

  &:hover {
    background-color: $primary-color-darker;
    border: 1px solid $primary-color-darker;
  }
}

.tf-btn-danger {
  color: $danger-color;
  background-color: transparent;
  border: 1px solid $danger-color;

  &:hover {
    background-color: $danger-color;
    color: white;
    border: 1px solid transparent;
  }
}

.tf-btn-ghost {
  background-color: transparent;
  color: $text-color;

  &:hover {
    transition: all 0.2s ease-out;
    color: $primary-color;
  }
}

.tf-btn-large {
  font-size: 0.9rem;
  padding: 0.9em 2em;
}

.tf-btn-small {
  font-size: 0.74rem;
  padding: 0.56em 1.6em;
}

.tf-btn-medium {
  font-size: 0.84rem;
  padding: 0 1rem;
  height: 38px;
}

.tf-btn-outline {
  background-color: transparent;
  text-shadow: none;

  &.tf-btn-primary {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
      color: #f5ffec;
      background-color: $primary-color;
    }
  }
}

.tf-btn--full {
  width: 100%;

  .tf-btn {
    width: 100%;
    justify-content: center;
  }
}

.tf-btn--submitted {
  cursor: not-allowed !important;
  pointer-events: none;
  filter: brightness(60%);

  tf-loader {
    margin-left: .4rem;
  }

  tf-loader > .loader {
    border-right-color: rgba(255, 255, 255, .7);
    border-top-color: rgba(255, 255, 255, .7);
    border-bottom-color: rgba(255, 255, 255, .7);
  }
}
