<button class="tf-btn" [ngClass]="panelClasses" [disabled]="disabled" [type]="type">
  <div>
    <ng-content></ng-content>
  </div>
  <ng-container *ngIf="icon">
    <span class="material-icons">{{ icon }}</span>
  </ng-container>
  <ng-container *ngIf="submitted">
    <tf-loader size="xs"></tf-loader>
  </ng-container>
</button>
