@import 'styles/variables';
@import 'styles/colors';

.tf-search-input {
  position: relative;
  display: flex;

  .form-validation {
    display: none;
  }

  .tf-input {
    input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .form-group {
    margin: 0;
  }

  tf-btn {
    width: auto;
  }

  .tf-btn {
    height: 100%;
    padding: 0 0.74rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    .material-icons {
      font-size: 24px;
      margin-left: 0;
    }
  }
}

.tf-search-input__clear {
  position: absolute;
  top: 8px;
  right: 60px;
}
