<tf-form-control [label]="label" [control]="control">
  <div class="tf-search-input">
    <tf-input
      [value]="value"
      [placeholder]="placeholder"
      (changed)="onChange($event)"
      (keypressed)="onKeyPress($event)"
    ></tf-input>
    <tf-btn [icon]="'search'" [disabled]="!value" (click)="onSearch()"></tf-btn>
    <button type="button" *ngIf="value" class="clear-btn tf-search-input__clear" (click)="onClear()">
      &times;
    </button>
  </div>
</tf-form-control>
