<!-- ACCOUNT STATS-->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Statystyki konta</h3>
    <div *ngIf="stats" class="account-stats">
      <tf-stats-tile label="Wygranych" [value]="stats.winRatio | percent"></tf-stats-tile>
      <tf-stats-tile label="K/D" [value]="stats.kdRatio"></tf-stats-tile>
      <tf-stats-tile label="Headshots" [value]="stats.headshotsRatio | percent"></tf-stats-tile>
      <tf-stats-tile label="Celność" [value]="stats.accuracyRatio | percent"></tf-stats-tile>
      <tf-stats-tile label="Zagranych godzin" [value]="stats.totalHoursPlayed"></tf-stats-tile>
    </div>
  </div>
</ng-container>

<!--BEST WEAPONS-->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Najlepsze bronie</h3>
    <div *ngIf="stats?.bestWeapons" class="account-weapons">
      <tf-cs-weapon-card
        *ngFor="let weapon of stats.bestWeapons"
        [data]="weapon"
        [maxKills]="stats.bestWeapons[0].kills"
      ></tf-cs-weapon-card>
    </div>
  </div>
</ng-container>

<!--GAME HISTORY -->
<ng-container>
  <div class="content-box">
    <h3 class="section-title">Historia gier</h3>
    <div>
      W trakcie budowy..
    </div>
  </div>
</ng-container>
