@import 'styles/variables';

.account-stats {
  display: flex;
  justify-content: space-between;

  tf-stats-tile {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    tf-stats-tile {
      width: 100%;
      margin-bottom: 0.6rem;
    }
  }
}

.account-weapons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  tf-cs-weapon-card {
    display: block;
    width: 32%;
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(sm) {
    tf-cs-weapon-card {
      width: 48%;
    }
  }
}
