@import 'styles/colors';

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  line-height: 0;

  &--danger {
    background-color: $danger-color;
  }

  &--success {
    background-color: $primary-color;
  }

  &--sm {
    width: 18px;
    height: 18px;
    font-size: 0.64rem;
    padding-top: 1px;
  }

  &--md {
    width: 22px;
    height: 22px;
    font-size: 0.74rem;
  }
}
