<tf-headline [title]="'Ustawienia konta'" [subtitle]="'Zarządzaj ustawieniami swojego konta'"></tf-headline>

<tf-my-profile-settings-account-details
  [currentUser]="currentUser$ | async"
></tf-my-profile-settings-account-details>

<tf-my-profile-settings-change-password></tf-my-profile-settings-change-password>

<tf-my-profile-settings-mail-notifications
  [currentUser]="currentUser$ | async"
></tf-my-profile-settings-mail-notifications>

<div class="section-box">
  <h3 class="section-title">Usuwanie konta</h3>
  <tf-btn icon="delete" color="danger" (click)="removeAccount()">Usuń konto</tf-btn>
</div>
