<div class="register-review__wrapper">
  <ng-container *ngIf="success">
    <div class="register-review__headline">
      <div class="register-review__icon">
        <span class="material-icons">done</span>
      </div>
      <h3>Twoje konto zostało pomyślnie utworzone!</h3>
    </div>
    <p>
      Na podany w rejestracji adres email (<strong>{{ registeredEmail }}</strong
      >) otrzymasz link aktywacyjny, który aktywuje Twoje konto.
    </p>
    <div class="register-review__warning">
      <span class="material-icons">warning</span>
      <p>
        Link akywacyjny może przyjść po kilku minutach, prosimy więc o cierpliwość. Sprawdź również folder
        SPAM, jeżeli link aktywacyjny nie dotarł do Ciebie w tym czasie.
      </p>
    </div>
  </ng-container>

  <ng-container *ngIf="!success">
    <div class="register-review__headline">
      <div class="register-review__icon register-review__icon--danger">
        <span class="material-icons">close</span>
      </div>
      <h3>Wystąpił błąd podczas tworzenia konta. Spróbuj ponownie później.</h3>
    </div>
  </ng-container>
</div>
