@import 'styles/colors';
@import 'styles/variables';

.register-review__headline {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  h3 {
    margin-left: 1rem;
  }
}

.register-review__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $primary-color;
  width: 44px;
  min-width: 44px;
  height: 44px;
  max-width: 44px;
  line-height: 42px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: $primary-color;
  color: $grey;

  &--danger {
    background-color: $danger-color;
    border-color: $danger-color;
  }
}

.register-review__warning {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 0.8rem 1rem;
  border-radius: $base-border-radius;
  background-color: $grey;

  p {
    margin-left: 1rem;
  }
}
