<ng-container *ngIf="!isLoginPage">
  <tf-header></tf-header>
</ng-container>
<main class="main" [ngClass]="{ 'main--full': isMainContainerFull, 'main--center': alignCenterMainContent }">
  <div class="container" [ngClass]="{ 'container--full': isPageContainerFull }">
    <router-outlet *ngIf="!showNotFoundPage"></router-outlet>
    <tf-not-found *ngIf="showNotFoundPage"></tf-not-found>
  </div>
</main>
<ng-container *ngIf="!isLoginPage">
  <tf-footer></tf-footer>
</ng-container>

<tf-global-chat></tf-global-chat>
<tf-chat></tf-chat>
