<div class="team-card" [routerLink]="team | entityLink">
  <div class="team-card__top">
    <div class="team-card__info">
      <div class="team-card__avatar"><img [src]="team.logoUrl | imageUrl" alt="team-logo" /></div>
      <div class="team-card__name">
        <a [routerLink]="team | entityLink">{{ team.name }}</a>
        <span class="team-card__created">Założono {{ team.createdAt | basicDate }}</span>
      </div>
    </div>

    <ng-container *ngIf="gameCheckers.isLol || gameCheckers.isCs">
      <div class="team-card__rank">
        <img [src]="team.rank?.badge.sm | imageUrl" alt="" />
        <span>{{ team.rank?.name }}</span>
      </div>
    </ng-container>
  </div>

  <div class="team-card__content">
    <div *ngIf="gameCheckers.isLol || gameCheckers.isCs">
      <span>Poszukiwane pozycje</span>
      <tf-game-role-icon-group [gameType]="team.type" [roles]="gameRoles"></tf-game-role-icon-group>
      <span *ngIf="!team.roles.length">---</span>
    </div>
    <div *ngIf="gameCheckers.isLol || gameCheckers.isCs">
      <span>Tryb gry</span>
      <div>{{ gameModes }}</div>
      <span *ngIf="!team.modes.length">---</span>
    </div>
    <div *ngIf="gameCheckers.isFnt">
      <p>{{ team.desc | truncate }}</p>
    </div>
  </div>
</div>
