@import 'styles/colors';
@import 'styles/variables';

.team-card {
  position: relative;
  padding: 1.4rem 1.8rem;
  min-height: 258px;
  box-shadow: 6px 7px 5px -9px #060606;
  border-radius: $base-border-radius;
  cursor: pointer;
  background-color: $grey-darker;
}

.team-card__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  width: 100%;

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    align-items: flex-start;

    .team-card__rank {
      margin-top: 1rem;
    }
  }
}

.team-card__info {
  display: flex;
  width: calc(100% - 50px);
  margin-right: 0.5rem;
}

.team-card__name {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  a {
    font-size: $font-size-lg;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.team-card__created {
  color: $secondary-text-color;
  font-size: $sm-font-size;
}

.team-card__avatar {
  min-width: 70px;
  height: 70px;
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 70px;
    width: 70px;
  }
}

.team-card__content {
  display: flex;
  flex-direction: column;

  tf-game-role-icon-group {
    margin-top: 0.2rem;
  }

  div:first-child {
    margin-bottom: 0.8rem;
  }

  span {
    font-weight: 600;
  }
}

.team-card__username {
  font-size: 0.94rem;
}

.team-card__rank {
  display: flex;
  flex-direction: column;
  min-height: 84px;
  align-items: center;
  text-align: center;

  img {
    width: 50px;
    margin-bottom: 0.3rem;
  }
}
