<ng-container *ngIf="helpers.isUser">
  <ng-container *ngIf="displayConditions.userLoLGameContentSection">
    <tf-lol-details-content [data]="data"></tf-lol-details-content>
  </ng-container>
  <ng-container *ngIf="displayConditions.userCsGameContentSection">
    <tf-csgo-details-content [data]="data"></tf-csgo-details-content>
  </ng-container>
  <ng-container *ngIf="displayConditions.userFntGameContentSection">
    <tf-fnt-details-content [data]="data"></tf-fnt-details-content>
  </ng-container>
</ng-container>

<ng-container *ngIf="helpers.isTeam">
  <tf-team-details-content [data]="data" [currentUser]="currentUser$ | async"></tf-team-details-content>
</ng-container>

<ng-container *ngIf="helpers.isGameAnnouncement">
  <tf-announcement-details-content [data]="data"></tf-announcement-details-content>
</ng-container>

<!--COMMENTS-->
<ng-container *ngIf="helpers.isTeam || helpers.isGameAnnouncement">
  <div class="content-box">
    <h3 class="section-title">Komentarze ({{ totalComments$ | async }})</h3>
    <div>
      <tf-entity-comments-section></tf-entity-comments-section>
    </div>
  </div>
</ng-container>
