<div class="stepper__wrapper">
  <ng-container *ngFor="let step of steps; let index = index">
    <div class="stepper__item">
      <div
        class="stepper__step"
        [ngClass]="{ 'stepper--active': isStepActive(index), 'stepper--done': isStepDone(index) }"
      >
        <ng-container *ngIf="isStepDone(index); else number">
          <span class="material-icons">done</span>
        </ng-container>
        <ng-template #number>
          <span>{{ index + 1 }}</span>
        </ng-template>
      </div>
      <span class="stepper__name">{{ step }}</span>

    </div>
    <ng-container *ngIf="index + 1 !== steps.length">
      <div class="stepper__separator" [ngClass]="{ 'stepper--done': isStepDone(index) }"></div>
    </ng-container>
  </ng-container>
</div>
