@import 'styles/colors';
@import 'styles/variables';

.stepper__wrapper {
  background-color: $grey-dark;
  margin: 2rem 0;
  padding: 1.2rem;
  border-radius: $base-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;

  // @include media-breakpoint-down(sm) {
  //   background-color: transparent;
  // }
}
.stepper__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stepper__step {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid $grey-lighter;
  width: 44px;
  height: 44px;
  line-height: 42px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: $grey-ultralight;
}

.stepper__name {
  margin-top: 0.5rem;
  max-width: 100px;
  white-space: normal;
  text-align: center;
}

.stepper__separator {
  position: relative;
  top: -20px;
  height: 2px;
  background-color: $grey-lighter;
  border-radius: $base-border-radius;
  width: 100px;
  margin: 0 .4rem;
}

.stepper--active {
  border-color: $primary-color;
  color: $primary-color;
}

.stepper--done {
  border-color: $primary-color;
  background-color: $primary-color;
  color: $grey-dark;
}
