<tf-headline
  [title]="'ZAPOMNIAŁEŚ SWOJEGO HASŁA?'"
  [subtitle]="'Podaj swój adres email, na który wyślemy dalsze intrukcje'"
></tf-headline>

<ng-container *ngIf="!success; else message">
  <form [formGroup]="form">
    <tf-input
      [formControlName]="'email'"
      [label]="'Twój adres e-mail'"
      [placeholder]="'Podaj swój adres email'"
    ></tf-input>

    <div class="align-center">
      <tf-btn [disabled]="!form.valid" [submitted]="submitting" (click)="onSubmit()">Kontynuuj</tf-btn>
    </div>
  </form>
</ng-container>

<ng-template #message>
  <tf-info>Na podany adres e-mail zostały wysłane wskazówki dotyczące odzyskiwania hasła</tf-info>
</ng-template>
