<form *ngIf="fieldsDisplayCondition" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="inline-wrapper align-center" style="margin-bottom: 1rem;">
    <tf-input
      [formControlName]="'name'"
      [label]="'Nazwa twojej drużyny'"
      [placeholder]="'Nazwa drużyny'"
    ></tf-input>
    <tf-add-avatar [thumbImage]="edit && avatar$ | async" (selected)="onAvatarChange($event)"></tf-add-avatar>
  </div>
  <tf-input
    [formControlName]="'desc'"
    [label]="'Opis drużyny'"
    [placeholder]="'Opis twojej drużyny..'"
    [mode]="'textarea'"
  ></tf-input>
  <tf-select
    *ngIf="fieldsDisplayCondition('modes')"
    [formControlName]="'modes'"
    [label]="'Tryb gry'"
    [placeholder]="'Tryb gry..'"
    [options]="options.modes"
    [multiselect]="true"
    [bindValue]="'id'"
  ></tf-select>
  <tf-game-role-picker
    *ngIf="fieldsDisplayCondition('roles')"
    [formControlName]="'roles'"
    [label]="'Poszukiwana pozycja'"
  ></tf-game-role-picker>
  <tf-select
    *ngIf="fieldsDisplayCondition('rank')"
    [formControlName]="'rank'"
    [label]="'Minimalna ranga'"
    [placeholder]="'Minimalna wymagana ranga..'"
    [options]="options.ranks"
    [bindValue]="'id'"
  ></tf-select>
  <tf-select
    *ngIf="fieldsDisplayCondition('gameServer')"
    [formControlName]="'gameServer'"
    [label]="'Region serwera'"
    [placeholder]="'Region serwera..'"
    [options]="options.servers"
    [bindValue]="'id'"
  ></tf-select>

  <div class="inline-wrapper align-center">
    <tf-btn type="submit" [disabled]="!form.valid" [submitted]="submitting$ | async">
      {{ edit ? 'Zapisz zmiany' : 'Zarejestruj drużynę' }}
    </tf-btn>
  </div>
</form>
