@import 'styles/variables';

form {
  tf-add-avatar ::ng-deep .add-avatar {
    justify-content: flex-end;
  }

  .inline-wrapper {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;

      tf-add-avatar ::ng-deep .add-avatar {
        justify-content: flex-start;
        margin-bottom: 1rem;
      }
    }
  }
}
