<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        {{ column }}
      </th>
      <th *ngIf="actions"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; trackBy: trackBy">
      <td *ngFor="let cell of templates">
        <ng-container [ngTemplateOutlet]="cell" [ngTemplateOutletContext]="{ $implicit: row }"></ng-container>
      </td>
      <td *ngIf="actions">
        <div class="inline-wrapper">
          <tf-btn
            *ngFor="let action of actions(row); trackBy: actionTrackBy"
            [color]="action.color"
            [icon]="action.icon"
            (click)="action.callback(row)"
          >
            {{ action.label }}
          </tf-btn>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="pagination" class="align-center mt-4">
  <tf-pagination [data]="pagination" (pageChanged)="onPageChange($event)"></tf-pagination>
</div>
