@import 'styles/colors';

table {
  width: 100%;
}

thead > tr > th {
  padding: 1rem;
  background-color: #222121;
  border-bottom: 1px solid #212121;
}

tbody > tr > td {
  padding: 1rem;
  border-bottom: 1px solid #212121;
}

tbody > tr:last-child > td {
  border: 0;
}

tbody > tr:nth-child(odd) > td {
  background-color: #282828;
}
