<div class="section-box">
  <h3 class="section-title">Ustawienia powiadomień e-mail</h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <tf-checkbox
      *ngFor="let item of currentUser.mailNotificationSettings | keyvalue"
      [formControlName]="item.key"
      [label]="getOptionLabel(item.key)"
    ></tf-checkbox>

    <tf-btn type="submit" [disabled]="!form.dirty">Zapisz zmiany</tf-btn>
  </form>
</div>
