@import 'styles/variables';

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-size: 20rem;

  @include media-breakpoint-down(md) {
    font-size: 14rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 6rem;
  }
}
