<div [formGroup]="form">
  <tf-add-avatar (selected)="avatarSelected($event)"></tf-add-avatar>
  <tf-select
    [formControlName]="'age'"
    [label]="'Rok urodzenia'"
    [placeholder]="'Rok urodzenia..'"
    [options]="dictionaries.birthYears"
    [bindValue]="'value'"
  ></tf-select>
  <tf-select
    *ngIf="canDisplayGameRankField"
    [formControlName]="'csRank'"
    [label]="'Twoja ranga'"
    [placeholder]="'Twoja ranga..'"
    [options]="dictionaries.ranks[selectedGame.key]"
  ></tf-select>
  <tf-game-role-picker
    *ngIf="canDisplayGameRolesField"
    [formControlName]="'roles'"
    [game]="selectedGame"
  ></tf-game-role-picker>
  <tf-select
    *ngIf="canDisplayGameModesField"
    [formControlName]="'modes'"
    [label]="'Tryb gry'"
    [placeholder]="'Tryb gry..'"
    [options]="dictionaries.modes[selectedGame.key]"
    [multiselect]="true"
    [bindValue]="'id'"
  ></tf-select>
  <tf-input
    [formControlName]="'desc'"
    [mode]="'textarea'"
    [label]="'O mnie'"
    [placeholder]="'Napisz coś o sobie'"
  ></tf-input>
</div>
