@import 'styles/variables';

.home-feedbacks {
  background-color: #131313;

  tf-profile-card {
    display: block;
    margin-bottom: 1rem;
  }

  tf-feedback-item:last-child ::ng-deep .feedback {
    border: 0;
  }
}

.home-feedbacks__header {
  text-align: center;
}

.home-feedbacks__content {
  margin-top: 3rem;
}

.home-feedbacks__feedbacks {
  padding-left: 3rem;
  margin-top: -1rem;
  width: fit-content;
  padding-right: 15px;

  @include media-breakpoint-down(md) {
    margin-top: 2rem;
    padding-left: 0;
  }
}
