<section class="home-section home-feedbacks">
  <div class="container">
    <div class="home-feedbacks__header">
      <h2 class="home-header">Ostatnie aktywności</h2>
      <span class="home-subheader">
        W naszej aplikacji przybywa coraz więcej graczy. Sprawdź najnowsze aktywności, a być może już teraz
        znajdziesz kompana do wspólnych gier!
      </span>
    </div>
    <div class="home-feedbacks__content">
      <div class="row">
        <div class="col-md-12 col-lg-5">
          <div class="row">
            <div *ngFor="let user of users$ | async" class="col-sm-6">
              <tf-profile-card [profile]="user"></tf-profile-card>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-7" style="overflow: auto;">
          <div class="home-feedbacks__feedbacks">
            <tf-feedback-compact-item
              *ngFor="let feedback of feedbacks$ | async"
              [data]="feedback"
            ></tf-feedback-compact-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
