<tf-icon-btn [poppyMenu]="menu">more_vert</tf-icon-btn>

<poppy-menu #menu="poppyMenu">
  <li *ngFor="let action of actions" poppy-menu-item (clicked)="action.callback()">
    {{ action.label }}
  </li>
</poppy-menu>
