@import 'styles/colors';
@import 'styles/variables';

.responsive-menu {
  min-width: 240px;
  li {
    list-style: none;
    border-bottom: 1px solid $grey-light;
    padding-bottom: 0.6rem;
    margin-bottom: 0.6rem;

    &:last-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  .inline-wrapper {
    margin-top: 1rem;
    @include media-breakpoint-down(sm) {
      flex-direction: column;

      tf-btn:first-child {
        margin-bottom: 0.6rem;
      }
    }
  }
}
