<div class="responsive-menu">
  <ul>
    <li class="text-bold" *ngFor="let link of links">
      <a
        *ngIf="!link.needsGamePrefix"
        [routerLink]="[link.path]"
        [routerLinkActive]="'menu-active-link'"
        poppyRemoveOnClick
      >
        {{ link.label }}
      </a>
      <a
        *ngIf="link.needsGamePrefix && link.gamePrefix"
        [routerLink]="[link.gamePrefix + link.path]"
        [routerLinkActive]="'menu-active-link'"
        poppyRemoveOnClick
      >
        {{ link.label }}
      </a>
      <a
        *ngIf="link.needsGamePrefix && !link.gamePrefix"
        [tfNeedsSelectGame]="link.path"
        [routerLinkActive]="'menu-active-link'"
        poppyRemoveOnClick
      >
        {{ link.label }}
      </a>
    </li>
  </ul>

  <ng-container *ngIf="!isLoggedIn">
    <div class="inline-wrapper">
      <tf-btn [routerLink]="STATIC_URLS['login'].slashPath" [theme]="'outline'" poppyRemoveOnClick>
        Zaloguj się
      </tf-btn>
      <tf-btn [routerLink]="STATIC_URLS['sign-up'].slashPath" poppyRemoveOnClick>Załóż konto</tf-btn>
    </div>
  </ng-container>
</div>
