<div class="profile-card" [routerLink]="profile | entityLink" [ngClass]="panelClasses">
  <div class="profile-card__top">
    <div class="profile-card__avatar">
      <tf-user-avatar
        [user]="profile"
        [showCompactInfo]="false"
        [showRank]="true"
        [showSendMessage]="true"
        size="xl"
      ></tf-user-avatar>
    </div>
  </div>

  <div class="profile-card__content">
    <a class="profile-card__username" [routerLink]="profile | entityLink">{{ profile.username }}</a>
    <tf-online-status-indicator [isOnline]="profile.isOnline" [showLabel]="true"></tf-online-status-indicator>
    <div *ngIf="canDisplayRank" class="profile-card__rank">
      <span>Dywizja:</span>
      <strong>{{ profile | gameRankLabel }}</strong>
    </div>
    <div *ngIf="canDisplayRoles">
      <span>Grana pozycja</span>
      <tf-game-role-icon-group [gameType]="profile.type" [roles]="gameRoles"></tf-game-role-icon-group>
      <span *ngIf="!gameRoles.length">---</span>
    </div>
    <div *ngIf="canDisplayLevel" class="align-center">
      <div class="profile-card__level">
        <span>Level:</span>
        <strong>{{ profile.game_metadata?.accountStats?.account?.level || '---' }}</strong>
      </div>
    </div>
  </div>
</div>
