@import 'styles/colors';
@import 'styles/variables';

:host {
  width: 100%;
}

.profile-card {
  position: relative;
  padding: 1rem;
  min-height: 296px;
  border-radius: $base-border-radius;
  cursor: pointer;

  &--dark {
    background-color: $grey-darker;
    box-shadow: 6px 7px 5px -9px #060606;
  }

  &--light {
    background-color: #262626;
  }
}

.profile-card__top {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.profile-card__content {
  display: flex;
  flex-direction: column;
  text-align: center;

  tf-online-status-indicator {
    margin-bottom: 1rem;
  }

  tf-game-role-icon-group {
    margin-top: 0.2rem;
  }
}

.profile-card__username {
  font-size: $font-size-lg;
  margin-bottom: 0.4rem;
}

.profile-card__rank {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.profile-card__level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid $primary-color;
}
