<div class="tabs">
  <div class="tabs-navigation">
    <div
      *ngFor="let tab of tabs"
      class="tabs-navigation__item"
      [ngClass]="{ 'tabs-navigation__item--active': tab.active }"
      (click)="onTabClick(tab)"
    >
      {{ tab.label }}
    </div>
  </div>
  <div class="tabs-content">
    <div *ngFor="let tab of tabs" [hidden]="!tab.active">
      <ng-container [ngTemplateOutlet]="tab.content"></ng-container>
    </div>
  </div>
</div>
