@import 'styles/colors';
@import 'styles/variables';

.tabs {
  margin-top: 1rem;
  width: 100%;
}

.tabs-navigation {
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid $grey-light;
  margin-bottom: 1.5rem;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.tabs-navigation__item {
  padding: 0 1.5rem 0.6rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }

  &--active {
    border-bottom: 2px solid $primary-color;
    color: $primary-color;

    @include media-breakpoint-down(md) {
      border: 0;
    }
  }

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }
}
