@import 'styles/colors';

.send-message__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.send-message__input {
  overflow: hidden;
  background-color: $grey-light;
  border-radius: 20px;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  border: 0;
  width: 100%;
  min-height: 39px;
  resize: none;
}

.send-message__actions {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;

  .material-icons {
    margin: 0 0.3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: $grey-lighter;
  }
}

.send-message__picker {
  position: relative;
}

.send-message__send {
  display: flex;
  align-items: center;

  .material-icons {
    color: $primary-color;
  }

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;

    .material-icons {
      color: $grey-lighter;
    }
  }
}
