<form [formGroup]="form" class="send-message__wrapper" (ngSubmit)="onSubmit()">
  <textarea
    #textAreaEl
    tfResizeTextarea
    class="send-message__input"
    rows="1"
    placeholder="Nowa wiadomość"
    [formControlName]="'message'"
    (keypress)="onKeyPress($event)"
    (focus)="onFocus()"
  ></textarea>
  <div class="send-message__actions">
    <tf-emoji-picker (emojiSelected)="onEmojiSelect($event)"></tf-emoji-picker>
    <button
      class="send-message__send"
      [ngClass]="{ 'send-message__send--disabled': !form.valid }"
      type="submit"
    >
      <span class="material-icons">
        send
      </span>
    </button>
  </div>
</form>
