<span class="status-indicator" [ngClass]="{ 'status-indicator--active': isOnline }">
  <span class="status-indicator__dot"></span>
  <ng-container *ngIf="showLabel">
    <span class="status-indicator__label">{{ isOnline ? 'dostępny' : 'niedostępny' }}</span>
  </ng-container>
</span>
