@import 'styles/colors';

:host {
  display: inline-block;
}

.status-indicator {
  display: block;
  line-height: 0;

  &--active {
    .status-indicator__dot {
      background-color: $primary-color;
    }
  }
}

.status-indicator__dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: $grey-ultralight;
  box-sizing: content-box;
}

.status-indicator__label {
  margin-left: 0.3rem;
}
