<div class="user-menu">
  <div class="user-menu__info">
    <div class="user-menu__user">
      <div class="user-menu__avatar">
        <img *ngIf="currentUser.profile" [src]="currentUser.profile.logoUrl | imageUrl" alt="" />
        <div class="user-menu__edit">
          <span class="material-icons">edit</span>
        </div>
      </div>
      <div class="user-menu__username">
        <span [title]="currentUser.profile?.username">{{ currentUser.profile?.username }}</span>
        <span [title]="currentUser.user?.email" class="user-menu__email">{{ currentUser.user?.email }}</span>
      </div>
    </div>
    <tf-btn [routerLink]="STATIC_URLS['my-profile'].slashPath" poppyRemoveOnClick>Zobacz profil</tf-btn>
  </div>
  <div class="user-menu__nav">
    <ul>
      <li>
        <a
          [routerLink]="MY_PROFILE_STATIC_URLS['edit-profile'].slashPath"
          class="normal"
          routerLinkActive="menu-active-link"
          poppyRemoveOnClick
        >
          Edycja profilu
        </a>
      </li>
      <li>
        <a
          [routerLink]="MY_PROFILE_STATIC_URLS['settings'].slashPath"
          class="normal"
          routerLinkActive="menu-active-link"
          poppyRemoveOnClick
        >
          Ustawienia konta
        </a>
      </li>
      <li class="mt-3">
        <a
          [routerLink]="MY_PROFILE_STATIC_URLS['my-invitations'].slashPath"
          class="normal"
          routerLinkActive="menu-active-link"
          poppyRemoveOnClick
        >
          Moje podania/zaproszenia
        </a>
      </li>
      <li>
        <a
          [routerLink]="MY_PROFILE_STATIC_URLS['teams'].slashPath"
          class="normal"
          routerLinkActive="menu-active-link"
          poppyRemoveOnClick
        >
          Moje drużyny
        </a>
      </li>
      <li>
        <a
          [routerLink]="MY_PROFILE_STATIC_URLS['announcements'].slashPath"
          class="normal"
          routerLinkActive="menu-active-link"
          poppyRemoveOnClick
        >
          Moje ogłoszenia
        </a>
      </li>
      <li class="mt-3">
        <a class="normal" (click)="onLogout()" poppyRemoveOnClick>Wyloguj się</a>
      </li>
    </ul>
  </div>
</div>
