@import 'styles/colors';
@import 'styles/variables';

.user-menu {
  min-width: 380px;
  @include media-breakpoint-down(md) {
    min-width: unset;
  }
}

.user-menu__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  tf-btn {
    margin-top: 0.3rem;
    @include media-breakpoint-down(md) {
      margin-top: 0.8rem;
    }
  }
}

.user-menu__user {
  display: flex;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.user-menu__avatar {
  position: relative;

  img {
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.user-menu__username {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  width: 184px;
  font-weight: 600;
  word-break: break-word;

  span {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
  }

  @include media-breakpoint-down(md) {
    overflow: hidden;
    flex: 1;
  }
}

.user-menu__email {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.user-menu__edit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $primary-color;
  color: #fff;
  cursor: pointer;

  .material-icons {
    font-size: 1.1rem;
  }
}

.user-menu__nav {
  border-top: 1px solid #2b2b2b;
  margin-top: 1rem;
  padding-top: 1rem;

  li {
    list-style: none;
    text-align: left;
    margin-bottom: 0.6rem;
  }
}
