<div class="global-chat">
  <div class="global-chat__launcher">
    <tf-global-chat-launcher
      *ngIf="isChatInitialized$ | async"
      [activeUsersCount]="activeUsersCount$ | async"
      [unseenMessagesCount]="unseenMessagesCount$ | async"
      (click)="openChat()"
    ></tf-global-chat-launcher>
  </div>
  <div [hidden]="!(showChat$ | async)" class="global-chat__window">
    <tf-global-chat-window></tf-global-chat-window>
  </div>
</div>
