@import 'styles/variables';

.global-chat {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 0;
  width: 100%;
  z-index: $global-chat-z-index;
}

.global-chat__window {
  width: 100%;
}
