@import 'styles/colors';
@import 'styles/variables';

:host {
  display: block;
  z-index: $header-z-index;
  position: sticky;
  top: 0;
  left: 0;
}

.header__wrapper {
  height: auto;
  background-color: $grey-darker;
  min-height: $header-height;
  display: flex;
  align-items: center;
  box-shadow: 0px -3px 10px #000000;

  tf-game-select {
    margin-left: 1rem;
  }

  @include media-breakpoint-down(sm) {
    min-height: $header-mobile-height;
  }
}

.header__container {
  min-height: 42px;
  width: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  min-height: 42px;
}

.header__menu {
  margin-left: 1.4rem;

  li {
    display: inline-block;
    list-style: none;
    margin-left: 1.4rem;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.header__login {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.header__auth {
  .inline-wrapper {
    display: flex;
    align-items: center;
  }
}

.header__user {
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.3rem 0.6rem;
  display: flex;
  align-items: center;
  border-radius: $base-border-radius;

  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid $primary-color;
  }

  &:hover {
    background-color: $grey-light;
  }

  @include media-breakpoint-down(md) {
    padding: 0.3rem;
    border-radius: 50%;
  }
}

.header__username {
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
  margin-right: 0.3rem;
  word-break: break-word;
  max-width: 130px;

  span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0.3rem;

  tf-counter {
    position: absolute;
    bottom: 4px;
    right: 2px;
  }
}

.header__hamburger {
  display: none;
  cursor: pointer;
  user-select: none;

  .material-icons {
    font-size: 1.7rem;
  }

  @include media-breakpoint-down(md) {
    display: flex;
  }
}
