<header id="header" class="header__wrapper">
  <div class="header__container">
    <div class="container">
      <div class="header__content">
        <div class="header__nav">
          <tf-logo></tf-logo>
          <div
            class="header__hamburger"
            [poppyPopover]="responsiveMenu"
            #responsiveMenuPopover="poppyPopover"
          >
            <span *ngIf="!(responsiveMenuOpen$ | async)" class="material-icons">menu</span>
            <span *ngIf="responsiveMenuOpen$ | async" class="material-icons">close</span>
          </div>

          <ng-container *ngIf="canDisplayGameSelect$ | async">
            <tf-game-select></tf-game-select>
          </ng-container>

          <div class="header__menu">
            <ul>
              <li class="text-bold" *ngFor="let link of links">
                <a
                  *ngIf="!link.needsGamePrefix"
                  [routerLink]="[link.path]"
                  [routerLinkActive]="'menu-active-link'"
                  >{{ link.label }}</a
                >
                <a
                  *ngIf="link.needsGamePrefix && link.gamePrefix"
                  [routerLink]="[link.gamePrefix + link.path]"
                  [routerLinkActive]="'menu-active-link'"
                >
                  {{ link.label }}
                </a>
                <a
                  *ngIf="link.needsGamePrefix && !link.gamePrefix"
                  [tfNeedsSelectGame]="link.path"
                  [routerLinkActive]="'menu-active-link'"
                >
                  {{ link.label }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="isBrowser && (isAuthorizationCompleted$ | async)" class="header__auth">
          <ng-container *ngIf="isLoggedIn$ | async; else authActions">
            <div class="header__actions">
              <div
                class="header__icon"
                [poppyPopover]="messagesCompactList"
                [innerClass]="'messages-popover'"
              >
                <tf-icon-btn>forum</tf-icon-btn>
                <tf-counter [count]="unreadMessagesCount"></tf-counter>
              </div>
              <div
                class="header__icon"
                [poppyPopover]="notificationsCompactList"
                [innerClass]="'non-max-height-popover'"
                (click)="onDisplayNotifications()"
              >
                <tf-icon-btn>notifications</tf-icon-btn>
                <tf-counter [count]="undisplayedNotificationsCount$ | async"></tf-counter>
              </div>
              <div class="header__user" [poppyPopover]="userMenu" #element="poppyPopover">
                <img [src]="currentUser.profile?.logoUrl | imageUrl" alt="user-avatar" />
                <div class="d-none d-lg-flex">
                  <div class="header__username">
                    <span [title]="currentUser.profile?.username">{{ currentUser.profile?.username }}</span>
                  </div>
                  <span style="font-size: 1.6rem;" class="material-icons">
                    {{ (element.isOpen$ | async) ? 'expand_less' : 'expand_more' }}
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #authActions>
            <div class="inline-wrapper header__login">
              <tf-btn [routerLink]="STATIC_URLS['login'].slashPath" [theme]="'outline'">Zaloguj się</tf-btn>
              <tf-btn [routerLink]="STATIC_URLS['sign-up'].slashPath">Załóż konto</tf-btn>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #userMenu>
  <tf-header-user-menu [currentUser]="currentUser" (logout)="onLogout()"></tf-header-user-menu>
</ng-template>

<ng-template #notificationsCompactList>
  <tf-notifications-compact-list></tf-notifications-compact-list>
</ng-template>

<ng-template #messagesCompactList>
  <tf-chat-rooms-compact-list></tf-chat-rooms-compact-list>
</ng-template>

<ng-template #responsiveMenu>
  <tf-responsive-menu [links]="links" [isLoggedIn]="isLoggedIn$ | async"></tf-responsive-menu>
</ng-template>
