<div class="headline__wrapper" [ngStyle]="{ 'text-align': align }">
  <h3 class="headline__title">{{ title }}</h3>
  <ng-container *ngIf="subtitle">
    <p class="headline__subtitle">{{ subtitle }}</p>
  </ng-container>
</div>
