@import 'styles/colors';

.headline__wrapper {
  margin-bottom: 2rem;
}

.headline__title {
  color: $primary-color;
  font-size: .94rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 0;
}
