<tf-headline
  [title]="'Moje ogłoszenia'"
  [subtitle]="'Informacje o wszystkich twoich ogłoszeniach'"
></tf-headline>

<ng-container *ngIf="!!announcements.length">
  <div class="overflow-auto">
    <tf-table
      [columns]="['ID', 'Treść ogłoszenia', 'Liczba zainteresowanych', 'Data założenia']"
      [actions]="getActions.bind(this)"
      [data]="announcements"
    >
      <ng-template tableCell let-element>
        <a [routerLink]="element | entityLink">{{ '#' + element.id }}</a>
      </ng-template>

      <ng-template tableCell let-element>
        <div class="break-text">
          {{ element.desc | truncate: 60 }}
        </div>
      </ng-template>

      <ng-template tableCell let-element> {{ element.members.length }} </ng-template>

      <ng-template tableCell let-element>{{ element.createdAt | basicDate }}</ng-template>
    </tf-table>
  </div>
</ng-container>

<ng-container *ngIf="!announcements.length && !loading">
  <div class="no-results-indicator">
    <span>Nie posiadasz jeszcze żadnych ogłoszeń - dodaj teraz, aby znaleść kompanów do gier!</span>
    <tf-btn [routerLink]="'announcements' | gamePrefixLink | async">Dodaj ogłoszenie</tf-btn>
  </div>
</ng-container>
