<section class="home-section home-teams">
  <div class="container">
    <div class="home-teams__header">
      <h2 class="home-header">Ostatnio dodane drużyny</h2>
      <span class="home-subheader">Poznaj drużyny naszych graczy i dołącz do jednej z nich!</span>
    </div>
    <div class="home-teams__content">
      <div class="row">
        <div *ngFor="let item of results$ | async" class="col-sm-12 col-md-6">
          <tf-team-card [team]="item"></tf-team-card>
        </div>
      </div>
    </div>
  </div>
</section>
