.home-teams {
  background-color: #101010;

  tf-team-card {
    display: block;
    margin-bottom: 1rem;
  }
}

.home-teams__header {
  text-align: center;
}

.home-teams__content {
  margin-top: 3rem;
}
