<ng-container *ngIf="canDisplayNewMessageAlert">
  <div class="global-chat-messages-list__alert">
    <div (click)="onNewMessagesClick()">
      <strong>{{ activeChannel.unseenMessagesSinceLastDisplay }}</strong> nowych wiadomości
    </div>
  </div>
</ng-container>

<div #listEl class="global-chat-messages-list__wrapper">
  <ng-container *ngIf="activeChannel.loading">
    <div class="global-chat-messages-list__loader">
      <tf-loader></tf-loader>
    </div>
  </ng-container>
  <ng-container *ngIf="!activeChannel.loading && !activeChannel.messages.results.length">
    <div class="global-chat-messages-list__no-results">
      <span>Brak wiadomości na tym kanale</span>
    </div>
  </ng-container>
  <tf-global-chat-message
    *ngFor="let item of activeChannel.messages.results; trackBy: trackByFn"
    [message]="item"
  ></tf-global-chat-message>
</div>
