@import 'styles/colors';

.global-chat-messages-list__wrapper {
  position: relative;
  padding: 1rem 15px 1.4rem 0;
  overflow: auto;
  overflow-anchor: none;
  height: 100%;
}

.global-chat-messages-list__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0 1.2rem 0;
}

.global-chat-messages-list__alert {
  position: absolute;
  top: 1rem;
  width: calc(100% - 15px);
  display: flex;
  justify-content: center;
  z-index: 1;
  font-size: 0.84rem;

  div {
    background-color: $primary-color;
    color: white;
    border-radius: 2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: $primary-color-darker;
    }
  }
}

.global-chat-messages-list__no-results {
  text-align: center;
  margin-top: 2rem;
}
