<div class="align-center">
  <div>
    <ng-container *ngIf="!success">
      <p>
        Anulując subskrypcję, nie będziesz już otrzymywał ważnych dla Ciebie powiadomień z aplikacji.
      </p>
      <p style="margin: 1rem 0;">
        Wyłączyć konkretne powiadomienia możesz dokonać w
        <a [routerLink]="MY_PROFILE_STATIC_URLS['settings'].slashPath" class="primary">
          opcjach konta
        </a>
        , jak również powrócić do subskrypcji.
      </p>

      <div class="inline-wrapper align-center">
        <tf-btn (click)="endMailSubscription()">Zakończ subskrypcję</tf-btn>
        <tf-btn [routerLink]="'/'" theme="outline">Anuluj</tf-btn>
      </div>
    </ng-container>

    <ng-container *ngIf="success">
      <p>Twoja subskrypcja została anulowana pomyślnie.</p>
    </ng-container>
  </div>
</div>
