<div class="announcement-card" [routerLink]="data | entityLink">
  <div class="announcement-card__top">
    <div class="announcement-card__info">
      <div class="announcement-card__avatar">
        <tf-user-avatar [user]="data.author" size="sm"></tf-user-avatar>
      </div>
      <div class="announcement-card__name">
        <a [routerLink]="data.author | entityLink">{{ data.author?.username }}</a>
      </div>
    </div>
    <div>
      <span class="announcement-card__created">{{ data.createdAt | basicDate }}</span>
    </div>
  </div>

  <div class="announcement-card__content">
    <div>
      <p>{{ data.desc | truncate }}</p>
    </div>
    <div *ngIf="gameCheckers.isLol || gameCheckers.isCs">
      <span>Poszukiwane pozycje</span>
      <tf-game-role-icon-group [gameType]="data.type" [roles]="gameRoles"></tf-game-role-icon-group>
      <span *ngIf="!data.roles.length">---</span>
    </div>
    <div *ngIf="gameCheckers.isLol || gameCheckers.isCs">
      <span>Tryb gry</span>
      <div>{{ gameModes }}</div>
      <span *ngIf="!data.modes.length">---</span>
    </div>
  </div>
</div>
