@import 'styles/colors';
@import 'styles/variables';

$avatar-size: 34px;

.announcement-card {
  position: relative;
  padding: 1.4rem 1.8rem;
  min-height: 258px;
  box-shadow: 6px 7px 5px -9px #060606;
  border-radius: $base-border-radius;
  cursor: pointer;
  background-color: $grey-darker;
}

.announcement-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.announcement-card__info {
  display: flex;
  align-items: center;
}

.announcement-card__name {
  display: flex;
  flex-direction: column;
}

.announcement-card__created {
  color: $secondary-text-color;
  font-size: $sm-font-size;
}

.announcement-card__avatar {
  margin-right: 0.6rem;
}

.announcement-card__content {
  display: flex;
  flex-direction: column;

  tf-game-role-icon-group {
    margin-top: 0.2rem;
  }

  div:nth-child(1) {
    margin-bottom: 1.2rem;
    border-bottom: 1px solid $grey-light;
    padding-bottom: 1rem;
  }

  div:nth-child(2) {
    margin-bottom: 0.8rem;
  }

  span {
    font-weight: 600;
  }

  p {
    word-break: break-word;
  }
}

.announcement-card__username {
  font-size: 0.94rem;
}

.announcement-card__rank {
  display: flex;
  flex-direction: column;
  min-height: 84px;
  align-items: center;

  img {
    width: 50px;
    margin-bottom: 0.3rem;
  }
}
