<div class="rooms-compact-list-item" (click)="onClick()" [ngClass]="panelClasses">
  <div>
    <tf-user-avatar *ngIf="isPrivateChat" [user]="item.memberProfile" [size]="'lg'"></tf-user-avatar>
    <img
      class="room-compact-list-item__avatar"
      *ngIf="isTeamChat"
      [src]="item.team.logoUrl | imageUrl"
      alt=""
    />
  </div>
  <div class="room-compact-list-item__content">
    <div class="room-compact-list-item__main">
      <div class="room-compact-list-item__title">{{ title }}</div>
      <div class="room-compact-list-item__message">
        <span>{{ lastMessage?.content || 'Brak wiadomości' }}</span>
        <span *ngIf="lastMessage" class="room-compact-list-item__date">
          {{ lastMessage.updatedAt | basicDate }}
        </span>
      </div>
    </div>
  </div>
</div>
