@import 'styles/colors';
@import 'styles/variables';

.rooms-compact-list-item {
  display: flex;
  align-items: center;
  padding: 1rem 25px;
  cursor: pointer;
  border-left: 2px solid transparent;
  border-top: 1px solid $grey-light;
  border-top: 1px solid $grey-light;

  &:hover {
    background-color: darken($grey-light, 2%);
  }

  &--active {
    background-color: darken($grey-light, 2%);
    border-left-color: $primary-color;
  }
}

.room-compact-list-item__content {
  display: flex;
  margin-left: 1rem;
  overflow: hidden;
}

.room-compact-list-item__main {
  display: flex;
  flex-direction: column;
}

.room-compact-list-item__message {
  display: flex;
  flex-direction: column;
  color: $secondary-text-color;
  font-size: $sm-font-size;

  span:first-child {
    white-space: nowrap;
    word-break: break-word;
    overflow: hidden;
    width: 325px;
    text-overflow: ellipsis;
  }
}

.room-compact-list-item__date {
  font-size: $xs-font-size;
}

.room-compact-list-item__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
