<div class="image-cropper">
  <div *ngIf="!isImageLoaded" class="image-cropper__input">
    <div class="image-cropper__placeholder">
      <span>Upuść tutaj plik lub kliknij by dodać</span>
    </div>
    <input type="file" (change)="onFileChange($event)" />
  </div>

  <div *ngIf="isImageLoaded" class="image-cropper__area">
    <img #cropperImg alt="crop-image" />
  </div>

  <div *ngIf="isImageLoaded" class="inline-wrapper">
    <tf-btn theme="outline" (click)="back($event)">Cofnij</tf-btn>
    <tf-btn (click)="save()">Zapisz</tf-btn>
  </div>
</div>
