@import 'styles/colors';
@import 'styles/variables';

:host {
  width: 100%;
  max-width: 400px;
}

.image-cropper {
  width: 100%;
  .inline-wrapper {
    margin-top: 1rem;
    justify-content: center;
  }
}

.image-cropper__input {
  position: relative;
  width: 100%;
  height: 200px;

  input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.image-cropper__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  border-radius: $base-border-radius;
  border: 3px dashed $grey-lighter;
  cursor: pointer;
  text-align: center;
}

.image-cropper__area {
  display: block;
  max-height: 360px;
  max-width: 100%;

  img {
    display: block;
    max-height: 360px;
    max-width: 100%;
  }
}
