<div class="container container--small">
  <div class="content-box">
    <tf-headline
      [title]="'Dodaj nową drużynę'"
      [subtitle]="'I rozpocznij swoją przygodę z drużynowym graniem..'"
    ></tf-headline>

    <tf-team-form (submitted)="onSubmit($event)"></tf-team-form>
  </div>
</div>
