<tf-headline
  [title]="'Podania/zaproszenia dla twoich drużyn'"
  [subtitle]="'Zarządzaj podaniami i zaproszeniami do drużyn'"
></tf-headline>

<div class="overflow-auto">
  <tf-tabs>
    <tf-tab [label]="'Wysłane zaproszenia'" [active]="activeTab === 'sentInvitations'">
      <tf-my-profile-invitations-list
        [data]="sentInvitations$ | async"
        scope="sentInvitations"
      ></tf-my-profile-invitations-list>
    </tf-tab>
    <tf-tab [label]="'Otrzymane podania'" [active]="activeTab === 'receivedRequests'">
      <tf-my-profile-invitations-list
        [data]="receivedRequests$ | async"
        scope="receivedRequests"
      ></tf-my-profile-invitations-list>
    </tf-tab>
  </tf-tabs>
</div>
