@import 'styles/colors';
@import 'styles/variables';

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $primary-color;
  font-size: 0.8rem;
  font-weight: 800;
  margin: 0;
  padding: 1px 2px;
  cursor: pointer;

  .material-icons {
    font-size: 1.4rem;
    margin-right: 2px;
  }
}

@include media-breakpoint-down(md) {
  .logo {
    margin-right: 0.8rem;
  }
  span {
    display: none;
  }
}
