<div
  *ngFor="let group of displaySchema"
  class="navigation__group"
  [ngClass]="{
    'navigation__group--selected': group.selected && !group.children,
    'navigation__group--disabled': !canToggleGroup(group) && group.children
  }"
>
  <div
    [routerLink]="group.path"
    class="navigation__group--label"
    (click)="canToggleGroup(group) && toggleGroup(group)"
  >
    <span>{{ group.label }}</span>
    <span *ngIf="group.children" class="material-icons">
      {{ group.expanded ? 'expand_less' : 'expand_more' }}
    </span>
  </div>
  <div *ngIf="group.children && group.expanded" class="navigation__children">
    <ng-container *ngFor="let child of group.children">
      <a
        *ngIf="child.path"
        [routerLink]="child.path"
        [ngClass]="{ 'navigation__child--selected': child.selected }"
        (click)="childClick(group.key, child.key)"
      >
        {{ child.label }}
      </a>
    </ng-container>
  </div>
</div>
