@import 'styles/colors';

.navigation__group {
  padding: 1rem 0;
  border-bottom: 1px solid $grey-light;
  cursor: pointer;
  user-select: none;

  &--label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    &:hover {
      color: $primary-color;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border: 0;
    padding-bottom: 0;
  }

  &--disabled {
    .navigation__group--label {
      cursor: default;

      &:hover {
        color: $text-color;
      }
    }
  }

  &--selected {
    .navigation__group--label {
      cursor: default;
      color: $primary-color;
    }
  }
}

.navigation__children {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  a {
    display: inline-block;
    padding-bottom: 0.4rem;
    font-weight: normal;

    &:last-child {
      padding: 0;
    }
  }
}

.navigation__child--selected {
  color: $primary-color;
}
