<div
  class="user-avatar"
  *ngIf="user"
  [ngClass]="panelClasses"
  [poppyPopover]="showCompactInfo && userCompactInfo"
  [trigger]="'hover'"
>
  <img class="user-avatar__img" [src]="avatarUrl" alt="user-avatar" />

  <ng-container *ngIf="showStatus && !showRank && !(isCurrentUser$ | async)">
    <tf-online-status-indicator [isOnline]="user.isOnline"></tf-online-status-indicator>
  </ng-container>

  <ng-container *ngIf="showRank && !!user.ranks?.length">
    <div class="user-avatar__rank">
      <img [src]="user.ranks[0].badge.sm | imageUrl" alt="user-game-rank" />
    </div>
  </ng-container>

  <ng-container *ngIf="showSendMessage">
    <div
      class="user-avatar__message"
      tfStopPropagationOnClick
      tfAuthorizationNeeded
      (afterAuthorization)="openConversation()"
    >
      <span class="material-icons">email</span>
    </div>
  </ng-container>
</div>

<ng-template #userCompactInfo>
  <tf-user-compact-info [user]="user"></tf-user-compact-info>
</ng-template>
