@import 'styles/colors';

.user-avatar {
  position: relative;
  display: inline-block;

  tf-online-status-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    ::ng-deep .status-indicator__dot {
      border: 3px solid $grey-dark;
    }
  }
}

.user-avatar--sm {
  .user-avatar__img {
    width: 30px;
    height: 30px;
  }

  tf-online-status-indicator ::ng-deep .status-indicator__dot {
    height: 6px;
    width: 6px;
  }
}

.user-avatar--md {
  .user-avatar__img {
    width: 40px;
    height: 40px;
  }
}

.user-avatar--lg {
  .user-avatar__img {
    width: 56px;
    height: 56px;
  }

  tf-online-status-indicator ::ng-deep .status-indicator__dot {
    height: 10px;
    width: 10px;
  }
}

.user-avatar--xl {
  .user-avatar__img {
    width: 100px;
    height: 100px;
  }

  tf-online-status-indicator ::ng-deep .status-indicator__dot {
    height: 16px;
    width: 16px;
    border-width: 5px;
  }
}

.user-avatar__img {
  border-radius: 50%;
}

.user-avatar__rank {
  position: absolute;
  bottom: -6px;
  right: -5px;

  img {
    width: 40px;
  }
}

.user-avatar__message {
  position: absolute;
  bottom: -3px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  cursor: pointer;

  .material-icons {
    font-size: 18px;
    color: white;
  }
}
