<div [formGroup]="form">
  <tf-input
    [formControlName]="'username'"
    [label]="'Nazwa użytkownika'"
    [placeholder]="'Nazwa użytkownika'"
  ></tf-input>

  <tf-input [formControlName]="'email'" [label]="'Adres e-mail'" [placeholder]="'Adres e-mail'"></tf-input>

  <tf-input
    [formControlName]="'password'"
    [label]="'Hasło'"
    [placeholder]="'Twoje hasło'"
    [type]="'password'"
  ></tf-input>

  <tf-checkbox [formControlName]="'terms'" [label]="termsLabel"></tf-checkbox>

  <ng-template #termsLabel>
    <span>
      Oświadczam, że wyrażam zgodę na
      <a class="primary" [routerLink]="STATIC_URLS['policy'].slashPath">Regulamin i politykę prywatności</a>
      tej strony *
    </span>
  </ng-template>
</div>
