@import 'styles/colors';

.emoji-picker__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;

  .material-icons {
    font-size: 1.7rem;
    cursor: pointer;
    color: $grey-lighter;
    vertical-align: middle;
  }
}

.example-viewport {
  height: 300px;
  width: 290px;
}
