<div class="emoji-picker__wrapper">
  <button type="button" [poppyPopover]="picker" [innerClass]="'emoji-picker'">
    <span class="material-icons">emoji_emotions</span>
  </button>
</div>

<ng-template #picker>
  <cdk-virtual-scroll-viewport [itemSize]="40" class="example-viewport">
    <div *cdkVirtualFor="let group of emojis$ | async" class="emoji-picker__group">
      <div *ngFor="let emoji of group" class="emoji-picker__icon" (click)="onSelectEmoji(emoji)">
        {{ emoji }}
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
