<ng-container *ngIf="canDisplayUserColumn">
  <div class="invitation-item__column">
    <label>{{ profileColumnLabel }}</label>
    <div class="invitation-item__name">
      <img [src]="data.profile.logoUrl | imageUrl" alt="" />
      <a [routerLink]="data.profile | entityLink">{{ data.profile.username }}</a>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data.team">
  <div class="invitation-item__column">
    <label>Drużyna:</label>
    <div class="invitation-item__name">
      <img [src]="data.team.logoUrl | imageUrl" alt="" />
      <a [routerLink]="data.team | entityLink">{{ data.team.name }}</a>
    </div>
  </div>
</ng-container>

<div
  class="invitation-item__column"
  [ngClass]="{ 'invitation-item__column--active': data.status === STATUSES.ACCEPTED }"
>
  <label>Status:</label>
  <div [ngSwitch]="data.status" class="invitation-item__column--status">
    <ng-container *ngSwitchCase="STATUSES.PENDING">
      <span class="material-icons">timer</span>
      <span>Oczekujący na decyzję</span>
    </ng-container>
    <ng-container *ngSwitchCase="STATUSES.ACCEPTED">
      <span class="material-icons">check_circle_outline</span>
      <span>Zatwierdzono</span>
    </ng-container>
    <ng-container *ngSwitchCase="STATUSES.REJECTED">
      <span class="material-icons">block</span>
      <span>Odrzucono</span>
    </ng-container>
  </div>
</div>

<div class="invitation-item__column">
  <ng-container *ngIf="canDisplayActions">
    <div class="inline-wrapper align-center" style="height: 100%;">
      <tf-btn size="small" (click)="onAccept()">Akceptuj</tf-btn>
      <tf-btn size="small" theme="outline" (click)="onReject()">Odrzuć</tf-btn>
    </div>
  </ng-container>
</div>
