@import 'styles/colors';

:host {
  display: flex;
}

.invitation-item__column {
  min-width: 25%;

  &--status {
    display: flex;
    align-items: center;
    min-height: 30px;

    .material-icons {
      margin-right: 0.2rem;
    }
  }

  &--active {
    .invitation-item__column--status {
      color: $primary-color;
    }
  }
}

.invitation-item__name {
  img {
    width: 30px;
    margin-right: 10%;
    border-radius: 50%;
  }
}
