/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors';
@import './assets/styles/global';
@import './assets/styles/emoji-picker';
@import './assets/styles/popover';
@import './assets/styles/cropper';
@import './assets/styles/variables';

* {
  outline: 0;
}

body {
  background-color: #181818;
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  color: $text-color;
}

p {
  margin: 0;
}

a,
a:not([href]) {
  color: $text-color;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: $primary-color;
  }

  &:hover {
    text-decoration: underline;
  }

  font-weight: bold;

  &.primary {
    color: $primary-color;
  }

  &.normal {
    font-weight: normal;
  }

  &.underlined {
    font-weight: normal;
    text-decoration: underline;
    color: inherit;
  }
}

input,
textarea,
select {
  color: $text-color;
  // font-size: 0.8rem;

  &::placeholder {
    @extend .placeholder;
  }
}

input,
textarea {
  @extend .input;
}

button {
  outline: 0 !important;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  color: $text-color;
}

ul {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex: 1 1;
  padding: 3rem 0;
  & > .container {
    flex: 1;
    padding: 0 1rem;
  }
  &--full {
    padding: 0;
  }

  &--center {
    & > .container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -70px;
    }
  }

  @include media-breakpoint-down(md) {
    &:not(&--full) {
      padding: 2rem 0 3rem 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
