@import 'styles/colors';
@import 'styles/variables';

:host {
  display: block;
  height: 100%;
}

.chat-rooms-compact-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-rooms-compact-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 600;
}

.chat-rooms-compact-list__content {
  margin: 0 -25px;
  margin-bottom: 1rem;
  overflow: auto;
  height: 100%;
  max-height: 500px;
  border-top: 2px solid $grey-light;
  border-bottom: 2px solid $grey-light;

  tf-notification-item:first-child ::ng-deep .notification-item {
    border-top: 0;
  }
}

.chat-rooms-compact-list__no-results {
  padding: 15px 25px;
}

.chat-rooms-compact-list__title {
  display: flex;
  align-items: center;
}
