<div class="chat-rooms-compact-list">
  <div class="chat-rooms-compact-list__header">
    <div class="chat-rooms-compact-list__title">
      <span>Wiadomości</span>
    </div>
    <div>
      <tf-icon-btn poppyRemoveOnClick class="material-icons" (click)="startNewConversation()">
        edit
      </tf-icon-btn>
    </div>
  </div>
  <div class="chat-rooms-compact-list__content">
    <ng-container *ngIf="!items.length">
      <div class="chat-rooms-compact-list__no-results">Brak prywatnych wiadomości</div>
    </ng-container>
    <tf-chat-rooms-compact-list-item
      *ngFor="let item of items; trackBy: trackByFn"
      poppyRemoveOnClick
      [item]="item"
      (clicked)="onItemClick(item)"
    ></tf-chat-rooms-compact-list-item>
  </div>
  <!--  <div>-->
  <!--    <a class="primary" poppyRemoveOnClick>Pokaż wszystko w Messengerze</a>-->
  <!--  </div>-->
</div>
