$primary-color: #3a9900;
$primary-color-darker: #2e7a00;

$danger-color: #f44336;

$text-color: #cdcdcd;
$secondary-text-color: #9b9b9b;
$text-color-light: #eaeaea;

$grey-ultralight: #828282;
$grey-lighter: #505050;
$grey-light: #2d2d2d;
$grey: #1d1d1d;
$grey-dark: #1e1e1e;
$grey-darker: #212121;

$black: #0f0f0f;

$primary-bg-color: #c7e0f4;

$card-color: #212121;
