@import 'styles/colors';

.cropper-line,
.cropper-point {
  background-color: $primary-color !important;
}

.cropper-point {
  opacity: 1 !important;
}

.cropper-view-box {
  outline-color: $primary-color !important;
}
