@import 'variables';
@import 'colors';

.emoji-picker {
  max-width: 290px;
  padding: 0 !important;
}

.emoji-picker__group {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.4rem 0 0.4rem;
}

.emoji-picker__icon {
  font-size: 1.5rem;
  cursor: pointer;
  max-width: 32px;
  overflow: hidden;
}
