@import './colors';
@import './variables';

.container {
  max-width: 1400px;
}

.container--small {
  max-width: 1000px;
}

.container--full {
  max-width: 100%;
  width: 100%;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background-color: $grey-light;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

.text-bold {
  font-weight: bold;
}

.inline-wrapper {
  display: flex;
  & > * {
    margin-right: 0.4rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    & > * {
      margin-right: 0;
      margin-bottom: 0.4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.inline-wrapper--sm {
  display: flex;
  & > * {
    margin-right: 0.2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-right {
  justify-content: flex-end;
}

.content-box {
  background-color: $grey-darker;
  padding: 2.2rem;
  border-radius: $base-border-radius;

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }
}

.form-group {
  width: 100%;
  margin-bottom: 0.4rem;
  // min-height: 54px;
}

.form-label {
  margin-bottom: 0.4rem;
  width: 100%;
}

.form-validation {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  color: $danger-color;
  min-height: 19px;
}

.input {
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  padding: 0.6rem 0.8rem;
  border: 2px solid $grey-light;

  &:focus,
  &:hover {
    border-color: $primary-color;
    outline: 0;
  }
}

.placeholder {
  color: $grey-ultralight;
}

.material-icons {
  font-size: 20px;
}

.popover-content.non-max-height-popover {
  max-height: unset;
}

.popover-content.messages-popover {
  @extend .non-max-height-popover;
  //min-width: 400px;
}

.clear-btn {
  font-weight: 600;
  font-size: 1.2rem;
}

.dialog-open {
  overflow: hidden;
  padding-right: $scrollbar-width;
}

.block-scroll {
  overflow: hidden;
}

.section-box {
  margin-bottom: 2rem;
}

.section-title {
  margin-bottom: 1rem;
  font-size: $font-size-md;
  font-weight: 600;
  border-bottom: 1px solid $grey-light;
  padding-bottom: 0.4rem;
}

.pre-line-text {
  white-space: pre-line;
  word-break: break-word;
}

.break-text {
  word-break: break-word;
}

.no-results-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  tf-btn {
    margin-top: 1rem;
  }
}

.home-header {
  margin-bottom: 1.4rem;
  font-weight: 600;
  font-size: 1.8rem;

  @include media-breakpoint-down(md) {
    font-size: 1.4rem;
  }
}

.home-subheader {
}

.home-section {
  padding: 4rem 0;
}

.two-column-list {
  li {
    margin-bottom: 0.5rem;
    list-style: none;
  }

  label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    min-width: 200px;
  }
}

.menu-active-link {
  color: $primary-color;
}

.overflow-auto {
  overflow: auto;
}

.placeholder-label {
  background-color: $grey;
  border-radius: $base-border-radius;
  height: 20px;
  width: 100%;
}
