@import './colors';
@import './variables';

$popover-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
$popover-border-radius: 2px;
$popover-bg-color: #242424;
$popover-item-bg-hover: $primary-color;
$popover-item-bg-selected: $grey-light;
$popover-separator-color: $grey;
$popover-separator-height: 2px;
$popover-avatar-size: 28px;
$popover-arrow-icon-color: #a09f9f;
$menu-item-padding: 9px 12px;

.popover-content {
  background-color: $popover-bg-color !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

.popover-menu-item {
  color: $text-color !important;

  &:hover {
    background-color: $popover-item-bg-hover !important;
    color: white !important;
  }
}

.popover-menu-item--focused {
  background-color: $popover-item-bg-hover !important;
  color: white !important;
}

.popover-menu-item--selected {
  background-color: $popover-item-bg-selected !important;
  color: white !important;
}

.poppy-select {
  border: 2px solid $grey-light !important;
}

.poppy-select__clear {
  right: 12px !important;
  top: -5px !important;
}

.poppy-chip {
  background-color: $grey-light !important;
}

.poppy-chip__close {
  background-color: #343333 !important;

  &:hover {
    background-color: $grey-lighter !important;
  }
}
