@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// TEXT
$font-size-sm: 0.84rem;
$font-size-md: 14px;
$font-size-lg: 16px;
$sm-font-size: 0.8rem;
$xs-font-size: 0.7rem;
$base-line-height: 26px;

// BORDERS

$base-border-radius: 3px;

// LAYOUT

$scrollbar-width: 6px;

// Z-INDEX
$chat-z-index: 9995;
$global-chat-z-index: 9996;
$header-z-index: 9997;
$dialog-z-index: 10000;
$emoji-picker-z-index: 10001;
$alert-z-index: 10002;

// HEADER

$header-height: 68px;
$header-mobile-height: 54px;
