<div class="chat-message" [ngClass]="panelClasses">
  <div class="chat-message__avatar">
    <img [src]="sender?.logoUrl || '/images/avatars/noavatar.png' | imageUrl" alt="user-avatar" />
  </div>
  <div>
    <div *ngIf="room.chatType === 'team' && !isCurrentUserMessageSender" class="chat-message__username">
      {{ sender?.username || 'Niekatywny członek' }}
    </div>
    <div class="chat-message__content" [innerHTML]="message.content | interactiveText"></div>
  </div>
</div>
