@import 'styles/colors';
@import 'styles/variables';

.chat-message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.8rem;

  &--inverse {
    flex-direction: row-reverse;

    .chat-message__content {
      background-color: $primary-color;
      color: white;
    }
  }
}

.chat-message__avatar {
  img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}

.chat-message__content {
  padding: 0.2rem 0.6rem;
  background-color: $grey-light;
  margin: 0 0.5rem;
  border-radius: $base-border-radius;
  width: fit-content;
  word-break: break-word;
  white-space: pre-line;
  line-height: 1.6rem;
}

.chat-message__username {
  margin: 0 0 .2rem .5rem;
  width: fit-content;
  word-break: break-word;
  white-space: pre-line;
  color: $secondary-text-color;
  text-transform: uppercase;
  font-size: .54rem;
}
