<section class="home-about home-section">
  <div class="container align-center">
    <div class="home-about__content">
      <h2 class="home-header">Czym jest Teamfinder?</h2>

      <p>
        Teamfinder to strona dla graczy <strong>League of Legends</strong>, <strong>CS:GO</strong> i
        <strong>Fortnite</strong>, której celem jest ułatwienie graczom poszukiwanie kompanów do wspólnych
        rozgrywek.
      </p>
      <br />
      <p>
        Na naszej stronie możesz kontaktować się z innymi użytkownikami za pomocą czatu, tworzyć drużyny i
        umawiać się na szybkie rozgrywki. Stwórz bezpłatne konto, połącz je z twoim profilem przywoływacza i
        dołącz do swojej pierwszej drużyny.
      </p>
      <tf-btn [routerLink]="STATIC_URLS['sign-up'].slashPath" size="large">Załóż darmowe konto</tf-btn>
      <h3>Dołącz już teraz do prawie <strong>10.000</strong> graczy!</h3>
    </div>
  </div>
</section>
