.home-about {
  background-color: #090909;
}

.home-about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 630px;

  tf-btn {
    margin: 2rem 0 1.4rem 0;
  }

  h3 {
    text-align: center;
    font-size: 1.4rem;
  }
}
