<div class="overlay" *ngIf="!isBrowser"></div>

<tf-cockpit *ngIf="isAuthToken$ | async; else home"></tf-cockpit>

<ng-template #home>
  <tf-home-jumbotron></tf-home-jumbotron>
  <tf-home-about></tf-home-about>
  <tf-home-available-games></tf-home-available-games>
  <tf-home-feedbacks></tf-home-feedbacks>
  <tf-home-last-teams></tf-home-last-teams>
</ng-template>
