<div class="icon-switcher">
  <div
    *ngFor="let opt of options"
    class="icon-switcher__item"
    [ngClass]="{ 'icon-switcher__item--selected': opt.value === value }"
    (click)="onSelect(opt)"
  >
    <span class="material-icons">{{ opt.icon }}</span>
  </div>
</div>
