@import 'styles/colors';

.icon-switcher {
  display: flex;
}

.icon-switcher__item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  text-align: left;

  &--selected {
    background-color: $primary-color;
    color: #ffffff;
  }
}
