@import 'styles/colors';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 20px;
  height: 40px;
  padding: 0 12px;
  min-width: 130px;
  z-index: 1000;
  background-color: $grey-light;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 16px 21px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 0.9rem;

  i {
    margin-top: 4px;
    margin-right: 6px;
    color: #686868;
  }
}

:host(.active) {
  background-color: $primary-color;
  color: white;
  i {
    color: white;
  }
}

.global-chat-launcher__name {
  display: flex;
  align-items: center;
  margin-right: 0.7rem;

  .material-icons {
    font-size: 14px;
    margin-right: 4px;
  }
}

.global-chat-launcher__counter {
  display: flex;
  align-items: center;
}
