<div class="global-chat-launcher__name">
  <span class="material-icons">
    chat_bubble
  </span>
  <span>Chat</span>
</div>
<div class="global-chat-launcher__counter inline-wrapper--sm">
  <strong>{{ activeUsersCount }}</strong
  ><span>online</span>
  <ng-container *ngIf="!unseenMessagesCount">
    <tf-online-status-indicator [isOnline]="true"></tf-online-status-indicator>
  </ng-container>
  <ng-container *ngIf="unseenMessagesCount > 0">
    <tf-counter [count]="unseenMessagesCount" [theme]="'danger'" [size]="'md'"></tf-counter>
  </ng-container>
</div>
