<div *ngIf="fieldsDisplayCondition" class="entities-filters">
  <tf-headline [title]="'Filtrowanie'"></tf-headline>
  <form [formGroup]="form">
    <tf-search-input
      *ngIf="fieldsDisplayCondition('q')"
      [formControlName]="'q'"
      [placeholder]="searchFieldLabelText"
      [label]="searchFieldLabelText"
      (searched)="onSearch()"
    ></tf-search-input>
    <tf-tile-select
      *ngIf="fieldsDisplayCondition('role')"
      [formControlName]="'role'"
      [options]="options.roles"
      [label]="'Grana pozycja'"
    ></tf-tile-select>
    <tf-select
      *ngIf="fieldsDisplayCondition('gameServer')"
      [formControlName]="'gameServer'"
      [options]="options.servers"
      [bindValue]="'value'"
      [label]="'Region serwera'"
    ></tf-select>
    <tf-select
      *ngIf="fieldsDisplayCondition('rank')"
      [formControlName]="'rank'"
      [options]="options.ranks"
      [bindValue]="'tier'"
      [label]="'Posiadana ranga'"
    ></tf-select>
    <tf-range-select
      *ngIf="fieldsDisplayCondition('age')"
      [parentFormGroup]="form"
      [options]="options.ageYears"
      [bindValue]="'value'"
      [formControlNames]="['age_from', 'age_to']"
      [label]="'Wiek'"
    ></tf-range-select>
    <tf-tile-select
      *ngIf="fieldsDisplayCondition('mode')"
      [formControlName]="'mode'"
      [options]="options.modes"
      [label]="'Tryb gry'"
    ></tf-tile-select>
  </form>
  <div class="entities-filters__reset">
    <tf-btn [theme]="'outline'" [full]="true" (click)="onReset()">Resetuj</tf-btn>
  </div>
</div>
