@import 'styles/variables';
@import 'styles/colors';
@import 'styles/popover';

.game-select {
  &--active {
    .game-select__input {
      background-color: $primary-color;
    }
  }

  &--inactive {
    .tf-btn {
      background-color: $grey-light;
    }
  }

  span,
  img {
    vertical-align: middle;
  }

  .tf-btn {
    height: 36px;
  }
}

.game-select__selected {
  cursor: pointer;
  color: white;
  img {
    width: 24px;
    margin-right: 0.4rem;
  }
}

.game-select__options {
  margin: -15px -25px;
}

.game-select__option {
  display: flex;
  align-items: center;
  padding: 0.4rem 0.7rem;
  min-height: 42px;
  box-sizing: border-box;
  cursor: pointer;
  img {
    width: 30px;
    margin-right: 0.3rem;
  }
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
