<div class="game-select" [ngClass]="panelClasses">
  <tf-btn [poppyPopover]="gameOptionsPopover" [trigger]="'click'">
    <div *ngIf="currentGame" class="game-select__selected">
      <img [src]="currentGame.logoGameSelector" alt="" />
      <span>{{ currentGame.label }}</span>
    </div>
    <ng-container *ngIf="!currentGame">Wybierz grę...</ng-container>
  </tf-btn>
</div>

<ng-template #gameOptionsPopover>
  <div class="game-select__options">
    <div *ngFor="let opt of options" poppyRemoveOnClick class="game-select__option" (click)="onSelect(opt)">
      <img [src]="opt.logoGameSelector" alt="" />
      <span>{{ opt.label }}</span>
    </div>
  </div>
</ng-template>
