<div class="align-center">
  <div>
    <h2 class="align-center">Skontaktuj się z nami!</h2>
    <div class="contact__content">
      <p>
        Masz pytanie lub znalazłeś błąd na stronie? A może chcesz nawiązać współpracę lub masz pomysł na nowe
        funkcjonalności? Napisz do nas!
      </p>
      <p class="contact__mail">
        <a class="primary" href="mailto:teamfinder@teamfinder.pl">
          teamfinder@teamfinder.pl
        </a>
      </p>
    </div>
  </div>
</div>
