@import 'styles/variables';
@import 'styles/colors';

.contact__content {
  margin-top: 3rem;
  background-color: $grey-darker;
  padding: 2rem 3rem;
  border-radius: $base-border-radius;
  max-width: 790px;
}

.contact__mail {
  text-align: center;
  margin-top: 1rem;
}
