<div class="form-group">
  <ng-container *ngIf="label">
    <label class="form-label">
      {{ label }}
      <span *ngIf="required">*</span>
    </label>
  </ng-container>

  <ng-content></ng-content>

  <div class="form-validation">
    <ng-container *ngIf="control && control.errors">
      <span *ngIf="canShowError('required')">To pole jest wymagane</span>
      <span *ngIf="canShowError('email')">Błędny adres e-mail</span>
      <span *ngIf="canShowError('minlength')">
        To pole musi zawierać co najmniej {{ control.errors.minlength.requiredLength }} znaki/ów
      </span>
      <span *ngIf="canShowError('maxlength')">
        To pole może zawierać maksymalnie {{ control.errors.maxlength.requiredLength }} znaki/ów
      </span>
      <span *ngIf="canShowError('emailAvailable')">
        Ten adres email jest już zajęty
      </span>
      <span *ngIf="canShowError('usernameAvailable')">
        Ta nazwa użytkownika jest już zajęta
      </span>
      <span *ngIf="canShowError('gameAccountExists')">
        Takie konto nie istnieje
      </span>
      <span *ngIf="canShowError('nameAvailable')">
        Ta nazwa jest już zajęta
      </span>
      <span *ngIf="canShowError('noSpecialCharacters')">
        To pole nie może zawierać znaków specjalnych
      </span>
    </ng-container>
  </div>
</div>
