<ng-container *ngIf="data.results.length">
  <tf-table
    [columns]="columns"
    [actions]="getActions.bind(this)"
    [data]="data.results"
    [pagination]="data.pagination"
    (pageChanged)="onPageChange($event)"
  >
    <ng-container *ngIf="canDisplayUserColumn">
      <ng-template tableCell let-element>
        <div>
          <img [src]="element.profile.logoUrl | imageUrl" alt="" />
          <a [routerLink]="element.profile | entityLink">{{ element.profile.username }}</a>
        </div>
      </ng-template>
    </ng-container>

    <ng-template tableCell let-element>
      <div>
        <img [src]="element.team.logoUrl | imageUrl" alt="" />
        <a [routerLink]="element.team | entityLink">{{ element.team.name }}</a>
      </div>
    </ng-template>

    <ng-template tableCell let-element>
      {{ element.createdAt | basicDate }}
    </ng-template>

    <ng-template tableCell let-element>
      <div
        [ngSwitch]="element.status"
        class="invitation-list__status"
        [ngClass]="{ 'invitation-list__status--accepted': element.status === INVITATION_STATUS.ACCEPTED }"
      >
        <ng-container *ngSwitchCase="INVITATION_STATUS.PENDING">
          <span class="material-icons">timer</span>
          <span>Oczekujący na decyzję</span>
        </ng-container>
        <ng-container *ngSwitchCase="INVITATION_STATUS.ACCEPTED">
          <span class="material-icons">check_circle_outline</span>
          <span>Zatwierdzono</span>
        </ng-container>
        <ng-container *ngSwitchCase="INVITATION_STATUS.REJECTED">
          <span class="material-icons">block</span>
          <span>Odrzucono</span>
        </ng-container>
      </div>
    </ng-template>
  </tf-table>
</ng-container>

<ng-container *ngIf="!data.results.length">
  <p>Brak wyników.</p>
</ng-container>
