@import 'styles/colors';

img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.invitation-list__status {
  display: flex;
  align-items: center;
  min-height: 30px;

  .material-icons {
    margin-right: 0.2rem;
  }

  &--accepted {
    color: $primary-color;
  }
}
