@import 'styles/variables';

:host {
  display: block;
}

.add-avatar {
  display: flex;
  align-items: center;
  width: 230px;

  tf-btn {
    width: auto;
  }
}

.add-avatar__image {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 1rem;
  border-radius: 50%;

  img {
    width: inherit;
    height: inherit;
  }

  @include media-breakpoint-down(md) {
    width: 60px;
    height: 60px;
  }
}
