<tf-headline [title]="'Zaproś gracza ' + invitedProfile?.username + ' do drużyny'"></tf-headline>

<div>
  <tf-select
    [formControl]="team"
    [options]="currentUserOwnedTeams$ | async"
    [label]="'Wybierz drużynę'"
    [placeholder]="'Wybierz drużynę, do której chcesz zaprosić gracza..'"
    [bindValue]="'id'"
    [bindLabel]="'name'"
  ></tf-select>
  <div class="align-center">
    <tf-btn [disabled]="!team.value" (click)="onSubmit()">Wyślij zaproszenie</tf-btn>
  </div>
</div>
